body
	margin: 0
	padding: 0
	background: #eee
	font: 12px sans-serif
	color: #666
*
	box-sizing: border-box

.container
	width: 800px
	margin: 0 auto
	padding-top: 40px

.form
	background: #ddd
	padding: 10px
	margin-bottom: 20px
	border-radius: 3px
	box-shadow: 2px 2px 4px 0 #ddd
	border: 1px solid #c9c9c9
	&-control
		width: 100%
		padding: 6px 10px
	&-btn
		width: 100%
		cursor: pointer
		border: 1px solid #bbb
		background: linear-gradient(#eee,#ddd)
		padding: 3px 0
		&:hover
			border-color: rgb(120,180,250)
	&-control,
	&-btn
		margin-top: 2px

	&-header
		text-transform: uppercase
		margin-bottom: 4px
		text-align: center
		display: block
		

