﻿$lightnessSteps: 4;
$softness: 9;
$colors: (
    pink: #E91E63,
    red: #F44336,
    blue: #2196F3,
    indigo: #3F551B,
    light-blue: #03A9F4,
    cyan: #00BCD4,
    purple: #9C27B0,
    deep-purple: #673AB7,
    teal: #009688,
    green: #4CAF50,
    light-green: #8BC34A,
    lime: #CDDC39,
    yellow: #FFEB3B,
    amber: #FFC107,
    orange: #FF9800,
    deep-orange: #FF5722,
    brown: #795548,
    gray: #9E9E9E,
    blue-gray: #607D8B,
    black: #000,
    white: #fff
);

@each $color, $value in $colors {
  @for $amount from 0 through $lightnessSteps*2 {
    .bg-#{$color}-#{$amount} {
      @if($amount < $lightnessSteps){
        background: darken($value, $softness*($lightnessSteps - $amount)) !important;
      } 
      @else if($amount == $lightnessSteps) {
        background: $value !important;
      } 
      @else {
        background: lighten($value, $softness*($amount - $lightnessSteps)) !important;
      }
      
      &:hover{
          @if($amount < $lightnessSteps){
            background: darken(darken($value, $softness*($lightnessSteps - $amount)), 100 / $softness) !important;
          } 
          @else if($amount == $lightnessSteps) {
            background: darken($value,100 / $softness) !important;
          } 
          @else {
            background: darken(lighten($value, $softness*($amount - $lightnessSteps)),100 / $softness) !important;
          }
      }
    }
    
  }
}

@each $color, $value in $colors {
  @for $amount from 0 through $lightnessSteps*2 {
    .fg-#{$color}-#{$amount} {
      @if($amount < $lightnessSteps){
        color: darken($value, $softness*($lightnessSteps - $amount));
      } 
      @else if($amount == $lightnessSteps) {
        color: $value;
      } 
      @else {
        color: lighten($value, $softness*($amount - $lightnessSteps));
      }
      &:hover{
          @if($amount < $lightnessSteps){
            color: darken($value, $softness*($lightnessSteps - $amount));
          } 
          @else if($amount == $lightnessSteps) {
            color: $value;
          } 
          @else {
            color: lighten($value, $softness*($amount - $lightnessSteps));
          }
     }
    }
  }
}




