.row {
    margin-top: 20px;
}

a {
	text-decoration: none;
}

// Forms
label {
	display: block;
}
.table > tbody > tr > td {
	vertical-align: middle;
}

.form-control {
	display: inline;
	width: auto;
}
.form-group {
	margin-bottom: 10px;
}

.help-block {
	display: inline;
	&:not(:empty):before {
		content:'\2022';
		margin-right: 2px;
	}
}
.form-control-static {
	display: block;
}