@import 'bootstrap';
@import 'bootstrap-overrides';

.bold {
  font-weight: bold;
}

.sort {
	&:after {
        content: '\25B2';
    }
    &-desc {
    	&:after {
	        content: '\25BC';
	    }
    }
}

// Modals

.overlay {
  position:absolute;
  z-index:9998;
  background-color:#000;
  display:none;
}
#modal-boxes {
	position: absolute;
	top: 0;
}
.popup {
  position:fixed;
  width:560px;
  display:none;
  z-index:9999;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 6px #666;
  &-header {
  	padding: 15px 20px;
  	text-align: center;
  	font-weight: bold;
  	border-bottom: 1px solid #eee;
  	background: #eee;
  }
  &-body {
  	padding:20px;
  }
}

.close {
	&:after {
		content: '\1F5D9';
	}
}

// =============
// Forms
// =============
.control-wide {
	display: block;
}

.checkbox-select {
  border-bottom: 1px #ccc solid;
}

.row .form-group-bordered {
  border-left: 1px solid #ccc;
}

// =============
// Table
// =============

.table-col-sm {
	max-width: 50px;
}

// =============
// Buttons
// =============
.btn-group-separated {
	& > .btn-group:not(:last-child) {
		padding-right: 5px;
	}
	& > .btn-group:not(:first-child) {
		padding-left: 5px;
	}
}

.popup-btn-group {
	margin-top: 10px;
}

