.bg-pink-0 {
  background: #48071d !important; }
  .bg-pink-0:hover {
    background: #150208 !important; }

.bg-pink-1 {
  background: #720b2e !important; }
  .bg-pink-1:hover {
    background: #3f0619 !important; }

.bg-pink-2 {
  background: #9c0f3f !important; }
  .bg-pink-2:hover {
    background: #680a2a !important; }

.bg-pink-3 {
  background: #c61350 !important; }
  .bg-pink-3:hover {
    background: #920e3b !important; }

.bg-pink-4 {
  background: #E91E63 !important; }
  .bg-pink-4:hover {
    background: #bc124c !important; }

.bg-pink-5 {
  background: #ed4880 !important; }
  .bg-pink-5:hover {
    background: #e6165d !important; }

.bg-pink-6 {
  background: #f1729d !important; }
  .bg-pink-6:hover {
    background: #ec3e79 !important; }

.bg-pink-7 {
  background: #f59bba !important; }
  .bg-pink-7:hover {
    background: #f06896 !important; }

.bg-pink-8 {
  background: #f9c5d7 !important; }
  .bg-pink-8:hover {
    background: #f492b3 !important; }

.bg-red-0 {
  background: #6c0d06 !important; }
  .bg-red-0:hover {
    background: #370703 !important; }

.bg-red-1 {
  background: #981208 !important; }
  .bg-red-1:hover {
    background: #620c05 !important; }

.bg-red-2 {
  background: #c4170b !important; }
  .bg-red-2:hover {
    background: #8e1108 !important; }

.bg-red-3 {
  background: #ef1d0d !important; }
  .bg-red-3:hover {
    background: #b9160a !important; }

.bg-red-4 {
  background: #F44336 !important; }
  .bg-red-4:hover {
    background: #e51b0d !important; }

.bg-red-5 {
  background: #f66c62 !important; }
  .bg-red-5:hover {
    background: #f3392c !important; }

.bg-red-6 {
  background: #f9948d !important; }
  .bg-red-6:hover {
    background: #f66257 !important; }

.bg-red-7 {
  background: #fbbdb9 !important; }
  .bg-red-7:hover {
    background: #f88b83 !important; }

.bg-red-8 {
  background: #fee6e4 !important; }
  .bg-red-8:hover {
    background: #fbb4ae !important; }

.bg-blue-0 {
  background: #053358 !important; }
  .bg-blue-0:hover {
    background: #021422 !important; }

.bg-blue-1 {
  background: #074c83 !important; }
  .bg-blue-1:hover {
    background: #042d4d !important; }

.bg-blue-2 {
  background: #0966af !important; }
  .bg-blue-2:hover {
    background: #074679 !important; }

.bg-blue-3 {
  background: #0c7fda !important; }
  .bg-blue-3:hover {
    background: #0960a5 !important; }

.bg-blue-4 {
  background: #2196F3 !important; }
  .bg-blue-4:hover {
    background: #0b79d0 !important; }

.bg-blue-5 {
  background: #4dabf5 !important; }
  .bg-blue-5:hover {
    background: #1791f2 !important; }

.bg-blue-6 {
  background: #78bff8 !important; }
  .bg-blue-6:hover {
    background: #42a6f5 !important; }

.bg-blue-7 {
  background: #a4d4fa !important; }
  .bg-blue-7:hover {
    background: #6ebaf7 !important; }

.bg-blue-8 {
  background: #cfe8fc !important; }
  .bg-blue-8:hover {
    background: #99cffa !important; }

.bg-indigo-0 {
  background: black !important; }
  .bg-indigo-0:hover {
    background: black !important; }

.bg-indigo-1 {
  background: black !important; }
  .bg-indigo-1:hover {
    background: black !important; }

.bg-indigo-2 {
  background: #0b0f05 !important; }
  .bg-indigo-2:hover {
    background: black !important; }

.bg-indigo-3 {
  background: #253210 !important; }
  .bg-indigo-3:hover {
    background: #050702 !important; }

.bg-indigo-4 {
  background: #3F551B !important; }
  .bg-indigo-4:hover {
    background: #1f2a0d !important; }

.bg-indigo-5 {
  background: #597826 !important; }
  .bg-indigo-5:hover {
    background: #394d18 !important; }

.bg-indigo-6 {
  background: #739b31 !important; }
  .bg-indigo-6:hover {
    background: #537023 !important; }

.bg-indigo-7 {
  background: #8cbe3c !important; }
  .bg-indigo-7:hover {
    background: #6d922f !important; }

.bg-indigo-8 {
  background: #a1cb5c !important; }
  .bg-indigo-8:hover {
    background: #86b53a !important; }

.bg-light-blue-0 {
  background: #012b3f !important; }
  .bg-light-blue-0:hover {
    background: #000507 !important; }

.bg-light-blue-1 {
  background: #014b6c !important; }
  .bg-light-blue-1:hover {
    background: #012434 !important; }

.bg-light-blue-2 {
  background: #026a99 !important; }
  .bg-light-blue-2:hover {
    background: #014361 !important; }

.bg-light-blue-3 {
  background: #028ac7 !important; }
  .bg-light-blue-3:hover {
    background: #02638f !important; }

.bg-light-blue-4 {
  background: #03A9F4 !important; }
  .bg-light-blue-4:hover {
    background: #0282bc !important; }

.bg-light-blue-5 {
  background: #29bafc !important; }
  .bg-light-blue-5:hover {
    background: #03a2e9 !important; }

.bg-light-blue-6 {
  background: #56c9fd !important; }
  .bg-light-blue-6:hover {
    background: #1eb7fc !important; }

.bg-light-blue-7 {
  background: #83d7fd !important; }
  .bg-light-blue-7:hover {
    background: #4bc6fd !important; }

.bg-light-blue-8 {
  background: #b1e6fe !important; }
  .bg-light-blue-8:hover {
    background: #79d4fd !important; }

.bg-cyan-0 {
  background: #00191c !important; }
  .bg-cyan-0:hover {
    background: black !important; }

.bg-cyan-1 {
  background: #00424a !important; }
  .bg-cyan-1:hover {
    background: #001012 !important; }

.bg-cyan-2 {
  background: #006b78 !important; }
  .bg-cyan-2:hover {
    background: #003840 !important; }

.bg-cyan-3 {
  background: #0093a6 !important; }
  .bg-cyan-3:hover {
    background: #00616d !important; }

.bg-cyan-4 {
  background: #00BCD4 !important; }
  .bg-cyan-4:hover {
    background: #008a9b !important; }

.bg-cyan-5 {
  background: #03e2ff !important; }
  .bg-cyan-5:hover {
    background: #00b2c9 !important; }

.bg-cyan-6 {
  background: #31e8ff !important; }
  .bg-cyan-6:hover {
    background: #00dbf7 !important; }

.bg-cyan-7 {
  background: #5fedff !important; }
  .bg-cyan-7:hover {
    background: #26e6ff !important; }

.bg-cyan-8 {
  background: #8df2ff !important; }
  .bg-cyan-8:hover {
    background: #54ecff !important; }

.bg-purple-0 {
  background: #17061a !important; }
  .bg-purple-0:hover {
    background: black !important; }

.bg-purple-1 {
  background: #380e3f !important; }
  .bg-purple-1:hover {
    background: #0f0411 !important; }

.bg-purple-2 {
  background: #591665 !important; }
  .bg-purple-2:hover {
    background: #300c36 !important; }

.bg-purple-3 {
  background: #7b1f8a !important; }
  .bg-purple-3:hover {
    background: #52145c !important; }

.bg-purple-4 {
  background: #9C27B0 !important; }
  .bg-purple-4:hover {
    background: #731d82 !important; }

.bg-purple-5 {
  background: #bb33d2 !important; }
  .bg-purple-5:hover {
    background: #9425a7 !important; }

.bg-purple-6 {
  background: #c759da !important; }
  .bg-purple-6:hover {
    background: #b52dcd !important; }

.bg-purple-7 {
  background: #d47ee2 !important; }
  .bg-purple-7:hover {
    background: #c450d8 !important; }

.bg-purple-8 {
  background: #e0a4eb !important; }
  .bg-purple-8:hover {
    background: #d175e1 !important; }

.bg-deep-purple-0 {
  background: #190e2c !important; }
  .bg-deep-purple-0:hover {
    background: #000001 !important; }

.bg-deep-purple-1 {
  background: #2c194e !important; }
  .bg-deep-purple-1:hover {
    background: #140b23 !important; }

.bg-deep-purple-2 {
  background: #402471 !important; }
  .bg-deep-purple-2:hover {
    background: #281646 !important; }

.bg-deep-purple-3 {
  background: #532f94 !important; }
  .bg-deep-purple-3:hover {
    background: #3b2169 !important; }

.bg-deep-purple-4 {
  background: #673AB7 !important; }
  .bg-deep-purple-4:hover {
    background: #4f2c8c !important; }

.bg-deep-purple-5 {
  background: #7f56c9 !important; }
  .bg-deep-purple-5:hover {
    background: #6237af !important; }

.bg-deep-purple-6 {
  background: #9a78d4 !important; }
  .bg-deep-purple-6:hover {
    background: #794dc7 !important; }

.bg-deep-purple-7 {
  background: #b49bdf !important; }
  .bg-deep-purple-7:hover {
    background: #9370d2 !important; }

.bg-deep-purple-8 {
  background: #cebeea !important; }
  .bg-deep-purple-8:hover {
    background: #ae93dd !important; }

.bg-teal-0 {
  background: black !important; }
  .bg-teal-0:hover {
    background: black !important; }

.bg-teal-1 {
  background: #000c0b !important; }
  .bg-teal-1:hover {
    background: black !important; }

.bg-teal-2 {
  background: #003a35 !important; }
  .bg-teal-2:hover {
    background: #000201 !important; }

.bg-teal-3 {
  background: #00685e !important; }
  .bg-teal-3:hover {
    background: #002f2b !important; }

.bg-teal-4 {
  background: #009688 !important; }
  .bg-teal-4:hover {
    background: #005d55 !important; }

.bg-teal-5 {
  background: #00c4b2 !important; }
  .bg-teal-5:hover {
    background: #008b7e !important; }

.bg-teal-6 {
  background: #00f2db !important; }
  .bg-teal-6:hover {
    background: #00b9a8 !important; }

.bg-teal-7 {
  background: #21ffea !important; }
  .bg-teal-7:hover {
    background: #00e7d1 !important; }

.bg-teal-8 {
  background: #4fffef !important; }
  .bg-teal-8:hover {
    background: #16ffe9 !important; }

.bg-green-0 {
  background: #142f15 !important; }
  .bg-green-0:hover {
    background: #030703 !important; }

.bg-green-1 {
  background: #224f24 !important; }
  .bg-green-1:hover {
    background: #112712 !important; }

.bg-green-2 {
  background: #306f33 !important; }
  .bg-green-2:hover {
    background: #1f4721 !important; }

.bg-green-3 {
  background: #3e8f41 !important; }
  .bg-green-3:hover {
    background: #2d672f !important; }

.bg-green-4 {
  background: #4CAF50 !important; }
  .bg-green-4:hover {
    background: #3b873e !important; }

.bg-green-5 {
  background: #6abe6e !important; }
  .bg-green-5:hover {
    background: #49a74d !important; }

.bg-green-6 {
  background: #8acc8d !important; }
  .bg-green-6:hover {
    background: #63bb66 !important; }

.bg-green-7 {
  background: #aadaac !important; }
  .bg-green-7:hover {
    background: #83c986 !important; }

.bg-green-8 {
  background: #cae8cc !important; }
  .bg-green-8:hover {
    background: #a3d7a5 !important; }

.bg-light-green-0 {
  background: #2c4015 !important; }
  .bg-light-green-0:hover {
    background: #0f1607 !important; }

.bg-light-green-1 {
  background: #446321 !important; }
  .bg-light-green-1:hover {
    background: #273813 !important; }

.bg-light-green-2 {
  background: #5c852c !important; }
  .bg-light-green-2:hover {
    background: #3f5b1e !important; }

.bg-light-green-3 {
  background: #74a838 !important; }
  .bg-light-green-3:hover {
    background: #567d29 !important; }

.bg-light-green-4 {
  background: #8BC34A !important; }
  .bg-light-green-4:hover {
    background: #6e9f35 !important; }

.bg-light-green-5 {
  background: #a1ce6c !important; }
  .bg-light-green-5:hover {
    background: #86c042 !important; }

.bg-light-green-6 {
  background: #b7da8f !important; }
  .bg-light-green-6:hover {
    background: #9ccc64 !important; }

.bg-light-green-7 {
  background: #cde5b1 !important; }
  .bg-light-green-7:hover {
    background: #b2d787 !important; }

.bg-light-green-8 {
  background: #e3f1d4 !important; }
  .bg-light-green-8:hover {
    background: #c8e3a9 !important; }

.bg-lime-0 {
  background: #494f0e !important; }
  .bg-lime-0:hover {
    background: #1d1f06 !important; }

.bg-lime-1 {
  background: #6d7615 !important; }
  .bg-lime-1:hover {
    background: #41460c !important; }

.bg-lime-2 {
  background: #919d1c !important; }
  .bg-lime-2:hover {
    background: #656d13 !important; }

.bg-lime-3 {
  background: #b6c423 !important; }
  .bg-lime-3:hover {
    background: #89941a !important; }

.bg-lime-4 {
  background: #CDDC39 !important; }
  .bg-lime-4:hover {
    background: #adbb21 !important; }

.bg-lime-5 {
  background: #d7e360 !important; }
  .bg-lime-5:hover {
    background: #cbda30 !important; }

.bg-lime-6 {
  background: #e1ea87 !important; }
  .bg-lime-6:hover {
    background: #d5e157 !important; }

.bg-lime-7 {
  background: #ebf1ae !important; }
  .bg-lime-7:hover {
    background: #dee87e !important; }

.bg-lime-8 {
  background: #f4f8d5 !important; }
  .bg-lime-8:hover {
    background: #e8efa5 !important; }

.bg-yellow-0 {
  background: #827500 !important; }
  .bg-yellow-0:hover {
    background: #4a4200 !important; }

.bg-yellow-1 {
  background: #b09e00 !important; }
  .bg-yellow-1:hover {
    background: #786b00 !important; }

.bg-yellow-2 {
  background: #dec800 !important; }
  .bg-yellow-2:hover {
    background: #a69500 !important; }

.bg-yellow-3 {
  background: #ffe60d !important; }
  .bg-yellow-3:hover {
    background: #d3be00 !important; }

.bg-yellow-4 {
  background: #FFEB3B !important; }
  .bg-yellow-4:hover {
    background: #ffe502 !important; }

.bg-yellow-5 {
  background: #fff069 !important; }
  .bg-yellow-5:hover {
    background: #ffea30 !important; }

.bg-yellow-6 {
  background: #fff497 !important; }
  .bg-yellow-6:hover {
    background: #ffef5e !important; }

.bg-yellow-7 {
  background: #fff9c5 !important; }
  .bg-yellow-7:hover {
    background: #fff38c !important; }

.bg-yellow-8 {
  background: #fffef3 !important; }
  .bg-yellow-8:hover {
    background: #fff8ba !important; }

.bg-amber-0 {
  background: #4e3b00 !important; }
  .bg-amber-0:hover {
    background: #161000 !important; }

.bg-amber-1 {
  background: #7c5d00 !important; }
  .bg-amber-1:hover {
    background: #443300 !important; }

.bg-amber-2 {
  background: #aa8000 !important; }
  .bg-amber-2:hover {
    background: #725500 !important; }

.bg-amber-3 {
  background: #d8a200 !important; }
  .bg-amber-3:hover {
    background: #9f7800 !important; }

.bg-amber-4 {
  background: #FFC107 !important; }
  .bg-amber-4:hover {
    background: #cd9a00 !important; }

.bg-amber-5 {
  background: #ffcc35 !important; }
  .bg-amber-5:hover {
    background: #fbbc00 !important; }

.bg-amber-6 {
  background: #ffd863 !important; }
  .bg-amber-6:hover {
    background: #ffca2a !important; }

.bg-amber-7 {
  background: #ffe391 !important; }
  .bg-amber-7:hover {
    background: #ffd558 !important; }

.bg-amber-8 {
  background: #ffefbf !important; }
  .bg-amber-8:hover {
    background: #ffe186 !important; }

.bg-orange-0 {
  background: #472b00 !important; }
  .bg-orange-0:hover {
    background: #0f0900 !important; }

.bg-orange-1 {
  background: #754600 !important; }
  .bg-orange-1:hover {
    background: #3d2400 !important; }

.bg-orange-2 {
  background: #a36100 !important; }
  .bg-orange-2:hover {
    background: #6b4000 !important; }

.bg-orange-3 {
  background: #d17d00 !important; }
  .bg-orange-3:hover {
    background: #985b00 !important; }

.bg-orange-4 {
  background: #FF9800 !important; }
  .bg-orange-4:hover {
    background: #c67600 !important; }

.bg-orange-5 {
  background: #ffab2e !important; }
  .bg-orange-5:hover {
    background: #f49200 !important; }

.bg-orange-6 {
  background: #ffbd5c !important; }
  .bg-orange-6:hover {
    background: #ffa623 !important; }

.bg-orange-7 {
  background: #ffd08a !important; }
  .bg-orange-7:hover {
    background: #ffb951 !important; }

.bg-orange-8 {
  background: #ffe2b8 !important; }
  .bg-orange-8:hover {
    background: #ffcb7f !important; }

.bg-deep-orange-0 {
  background: #691900 !important; }
  .bg-deep-orange-0:hover {
    background: #310c00 !important; }

.bg-deep-orange-1 {
  background: #972400 !important; }
  .bg-deep-orange-1:hover {
    background: #5f1700 !important; }

.bg-deep-orange-2 {
  background: #c52f00 !important; }
  .bg-deep-orange-2:hover {
    background: #8d2200 !important; }

.bg-deep-orange-3 {
  background: #f33a00 !important; }
  .bg-deep-orange-3:hover {
    background: #ba2d00 !important; }

.bg-deep-orange-4 {
  background: #FF5722 !important; }
  .bg-deep-orange-4:hover {
    background: #e83800 !important; }

.bg-deep-orange-5 {
  background: #ff7a50 !important; }
  .bg-deep-orange-5:hover {
    background: #ff4f17 !important; }

.bg-deep-orange-6 {
  background: #ff9d7e !important; }
  .bg-deep-orange-6:hover {
    background: #ff7245 !important; }

.bg-deep-orange-7 {
  background: #ffc0ac !important; }
  .bg-deep-orange-7:hover {
    background: #ff9573 !important; }

.bg-deep-orange-8 {
  background: #ffe3da !important; }
  .bg-deep-orange-8:hover {
    background: #ffb7a1 !important; }

.bg-brown-0 {
  background: #060404 !important; }
  .bg-brown-0:hover {
    background: black !important; }

.bg-brown-1 {
  background: #231815 !important; }
  .bg-brown-1:hover {
    background: black !important; }

.bg-brown-2 {
  background: #3f2d26 !important; }
  .bg-brown-2:hover {
    background: #1c1411 !important; }

.bg-brown-3 {
  background: #5c4137 !important; }
  .bg-brown-3:hover {
    background: #392822 !important; }

.bg-brown-4 {
  background: #795548 !important; }
  .bg-brown-4:hover {
    background: #553c33 !important; }

.bg-brown-5 {
  background: #966959 !important; }
  .bg-brown-5:hover {
    background: #725044 !important; }

.bg-brown-6 {
  background: #ab8172 !important; }
  .bg-brown-6:hover {
    background: #8f6455 !important; }

.bg-brown-7 {
  background: #bc9b8f !important; }
  .bg-brown-7:hover {
    background: #a77b6b !important; }

.bg-brown-8 {
  background: #cdb4ab !important; }
  .bg-brown-8:hover {
    background: #b89588 !important; }

.bg-gray-0 {
  background: #424242 !important; }
  .bg-gray-0:hover {
    background: #262626 !important; }

.bg-gray-1 {
  background: #595959 !important; }
  .bg-gray-1:hover {
    background: #3d3d3d !important; }

.bg-gray-2 {
  background: #707070 !important; }
  .bg-gray-2:hover {
    background: #545454 !important; }

.bg-gray-3 {
  background: #878787 !important; }
  .bg-gray-3:hover {
    background: #6b6b6b !important; }

.bg-gray-4 {
  background: #9E9E9E !important; }
  .bg-gray-4:hover {
    background: #828282 !important; }

.bg-gray-5 {
  background: #b5b5b5 !important; }
  .bg-gray-5:hover {
    background: #999999 !important; }

.bg-gray-6 {
  background: #cccccc !important; }
  .bg-gray-6:hover {
    background: #b0b0b0 !important; }

.bg-gray-7 {
  background: #e3e3e3 !important; }
  .bg-gray-7:hover {
    background: #c7c7c7 !important; }

.bg-gray-8 {
  background: #fafafa !important; }
  .bg-gray-8:hover {
    background: #dddddd !important; }

.bg-blue-gray-0 {
  background: #151b1e !important; }
  .bg-blue-gray-0:hover {
    background: black !important; }

.bg-blue-gray-1 {
  background: #28343a !important; }
  .bg-blue-gray-1:hover {
    background: #111618 !important; }

.bg-blue-gray-2 {
  background: #3a4c55 !important; }
  .bg-blue-gray-2:hover {
    background: #232e33 !important; }

.bg-blue-gray-3 {
  background: #4d6570 !important; }
  .bg-blue-gray-3:hover {
    background: #36464e !important; }

.bg-blue-gray-4 {
  background: #607D8B !important; }
  .bg-blue-gray-4:hover {
    background: #495f69 !important; }

.bg-blue-gray-5 {
  background: #7794a1 !important; }
  .bg-blue-gray-5:hover {
    background: #5c7785 !important; }

.bg-blue-gray-6 {
  background: #93a9b4 !important; }
  .bg-blue-gray-6:hover {
    background: #718f9d !important; }

.bg-blue-gray-7 {
  background: #aebfc7 !important; }
  .bg-blue-gray-7:hover {
    background: #8ca4b0 !important; }

.bg-blue-gray-8 {
  background: #c9d4da !important; }
  .bg-blue-gray-8:hover {
    background: #a7bac3 !important; }

.bg-black-0 {
  background: black !important; }
  .bg-black-0:hover {
    background: black !important; }

.bg-black-1 {
  background: black !important; }
  .bg-black-1:hover {
    background: black !important; }

.bg-black-2 {
  background: black !important; }
  .bg-black-2:hover {
    background: black !important; }

.bg-black-3 {
  background: black !important; }
  .bg-black-3:hover {
    background: black !important; }

.bg-black-4 {
  background: #000 !important; }
  .bg-black-4:hover {
    background: black !important; }

.bg-black-5 {
  background: #171717 !important; }
  .bg-black-5:hover {
    background: black !important; }

.bg-black-6 {
  background: #2e2e2e !important; }
  .bg-black-6:hover {
    background: #121212 !important; }

.bg-black-7 {
  background: #454545 !important; }
  .bg-black-7:hover {
    background: #292929 !important; }

.bg-black-8 {
  background: #5c5c5c !important; }
  .bg-black-8:hover {
    background: #3f3f3f !important; }

.bg-white-0 {
  background: #a3a3a3 !important; }
  .bg-white-0:hover {
    background: #878787 !important; }

.bg-white-1 {
  background: #bababa !important; }
  .bg-white-1:hover {
    background: #9e9e9e !important; }

.bg-white-2 {
  background: #d1d1d1 !important; }
  .bg-white-2:hover {
    background: #b5b5b5 !important; }

.bg-white-3 {
  background: #e8e8e8 !important; }
  .bg-white-3:hover {
    background: #cccccc !important; }

.bg-white-4 {
  background: #fff !important; }
  .bg-white-4:hover {
    background: #e3e3e3 !important; }

.bg-white-5 {
  background: white !important; }
  .bg-white-5:hover {
    background: #e3e3e3 !important; }

.bg-white-6 {
  background: white !important; }
  .bg-white-6:hover {
    background: #e3e3e3 !important; }

.bg-white-7 {
  background: white !important; }
  .bg-white-7:hover {
    background: #e3e3e3 !important; }

.bg-white-8 {
  background: white !important; }
  .bg-white-8:hover {
    background: #e3e3e3 !important; }

.fg-pink-0 {
  color: #48071d; }
  .fg-pink-0:hover {
    color: #48071d; }

.fg-pink-1 {
  color: #720b2e; }
  .fg-pink-1:hover {
    color: #720b2e; }

.fg-pink-2 {
  color: #9c0f3f; }
  .fg-pink-2:hover {
    color: #9c0f3f; }

.fg-pink-3 {
  color: #c61350; }
  .fg-pink-3:hover {
    color: #c61350; }

.fg-pink-4 {
  color: #E91E63; }
  .fg-pink-4:hover {
    color: #E91E63; }

.fg-pink-5 {
  color: #ed4880; }
  .fg-pink-5:hover {
    color: #ed4880; }

.fg-pink-6 {
  color: #f1729d; }
  .fg-pink-6:hover {
    color: #f1729d; }

.fg-pink-7 {
  color: #f59bba; }
  .fg-pink-7:hover {
    color: #f59bba; }

.fg-pink-8 {
  color: #f9c5d7; }
  .fg-pink-8:hover {
    color: #f9c5d7; }

.fg-red-0 {
  color: #6c0d06; }
  .fg-red-0:hover {
    color: #6c0d06; }

.fg-red-1 {
  color: #981208; }
  .fg-red-1:hover {
    color: #981208; }

.fg-red-2 {
  color: #c4170b; }
  .fg-red-2:hover {
    color: #c4170b; }

.fg-red-3 {
  color: #ef1d0d; }
  .fg-red-3:hover {
    color: #ef1d0d; }

.fg-red-4 {
  color: #F44336; }
  .fg-red-4:hover {
    color: #F44336; }

.fg-red-5 {
  color: #f66c62; }
  .fg-red-5:hover {
    color: #f66c62; }

.fg-red-6 {
  color: #f9948d; }
  .fg-red-6:hover {
    color: #f9948d; }

.fg-red-7 {
  color: #fbbdb9; }
  .fg-red-7:hover {
    color: #fbbdb9; }

.fg-red-8 {
  color: #fee6e4; }
  .fg-red-8:hover {
    color: #fee6e4; }

.fg-blue-0 {
  color: #053358; }
  .fg-blue-0:hover {
    color: #053358; }

.fg-blue-1 {
  color: #074c83; }
  .fg-blue-1:hover {
    color: #074c83; }

.fg-blue-2 {
  color: #0966af; }
  .fg-blue-2:hover {
    color: #0966af; }

.fg-blue-3 {
  color: #0c7fda; }
  .fg-blue-3:hover {
    color: #0c7fda; }

.fg-blue-4 {
  color: #2196F3; }
  .fg-blue-4:hover {
    color: #2196F3; }

.fg-blue-5 {
  color: #4dabf5; }
  .fg-blue-5:hover {
    color: #4dabf5; }

.fg-blue-6 {
  color: #78bff8; }
  .fg-blue-6:hover {
    color: #78bff8; }

.fg-blue-7 {
  color: #a4d4fa; }
  .fg-blue-7:hover {
    color: #a4d4fa; }

.fg-blue-8 {
  color: #cfe8fc; }
  .fg-blue-8:hover {
    color: #cfe8fc; }

.fg-indigo-0 {
  color: black; }
  .fg-indigo-0:hover {
    color: black; }

.fg-indigo-1 {
  color: black; }
  .fg-indigo-1:hover {
    color: black; }

.fg-indigo-2 {
  color: #0b0f05; }
  .fg-indigo-2:hover {
    color: #0b0f05; }

.fg-indigo-3 {
  color: #253210; }
  .fg-indigo-3:hover {
    color: #253210; }

.fg-indigo-4 {
  color: #3F551B; }
  .fg-indigo-4:hover {
    color: #3F551B; }

.fg-indigo-5 {
  color: #597826; }
  .fg-indigo-5:hover {
    color: #597826; }

.fg-indigo-6 {
  color: #739b31; }
  .fg-indigo-6:hover {
    color: #739b31; }

.fg-indigo-7 {
  color: #8cbe3c; }
  .fg-indigo-7:hover {
    color: #8cbe3c; }

.fg-indigo-8 {
  color: #a1cb5c; }
  .fg-indigo-8:hover {
    color: #a1cb5c; }

.fg-light-blue-0 {
  color: #012b3f; }
  .fg-light-blue-0:hover {
    color: #012b3f; }

.fg-light-blue-1 {
  color: #014b6c; }
  .fg-light-blue-1:hover {
    color: #014b6c; }

.fg-light-blue-2 {
  color: #026a99; }
  .fg-light-blue-2:hover {
    color: #026a99; }

.fg-light-blue-3 {
  color: #028ac7; }
  .fg-light-blue-3:hover {
    color: #028ac7; }

.fg-light-blue-4 {
  color: #03A9F4; }
  .fg-light-blue-4:hover {
    color: #03A9F4; }

.fg-light-blue-5 {
  color: #29bafc; }
  .fg-light-blue-5:hover {
    color: #29bafc; }

.fg-light-blue-6 {
  color: #56c9fd; }
  .fg-light-blue-6:hover {
    color: #56c9fd; }

.fg-light-blue-7 {
  color: #83d7fd; }
  .fg-light-blue-7:hover {
    color: #83d7fd; }

.fg-light-blue-8 {
  color: #b1e6fe; }
  .fg-light-blue-8:hover {
    color: #b1e6fe; }

.fg-cyan-0 {
  color: #00191c; }
  .fg-cyan-0:hover {
    color: #00191c; }

.fg-cyan-1 {
  color: #00424a; }
  .fg-cyan-1:hover {
    color: #00424a; }

.fg-cyan-2 {
  color: #006b78; }
  .fg-cyan-2:hover {
    color: #006b78; }

.fg-cyan-3 {
  color: #0093a6; }
  .fg-cyan-3:hover {
    color: #0093a6; }

.fg-cyan-4 {
  color: #00BCD4; }
  .fg-cyan-4:hover {
    color: #00BCD4; }

.fg-cyan-5 {
  color: #03e2ff; }
  .fg-cyan-5:hover {
    color: #03e2ff; }

.fg-cyan-6 {
  color: #31e8ff; }
  .fg-cyan-6:hover {
    color: #31e8ff; }

.fg-cyan-7 {
  color: #5fedff; }
  .fg-cyan-7:hover {
    color: #5fedff; }

.fg-cyan-8 {
  color: #8df2ff; }
  .fg-cyan-8:hover {
    color: #8df2ff; }

.fg-purple-0 {
  color: #17061a; }
  .fg-purple-0:hover {
    color: #17061a; }

.fg-purple-1 {
  color: #380e3f; }
  .fg-purple-1:hover {
    color: #380e3f; }

.fg-purple-2 {
  color: #591665; }
  .fg-purple-2:hover {
    color: #591665; }

.fg-purple-3 {
  color: #7b1f8a; }
  .fg-purple-3:hover {
    color: #7b1f8a; }

.fg-purple-4 {
  color: #9C27B0; }
  .fg-purple-4:hover {
    color: #9C27B0; }

.fg-purple-5 {
  color: #bb33d2; }
  .fg-purple-5:hover {
    color: #bb33d2; }

.fg-purple-6 {
  color: #c759da; }
  .fg-purple-6:hover {
    color: #c759da; }

.fg-purple-7 {
  color: #d47ee2; }
  .fg-purple-7:hover {
    color: #d47ee2; }

.fg-purple-8 {
  color: #e0a4eb; }
  .fg-purple-8:hover {
    color: #e0a4eb; }

.fg-deep-purple-0 {
  color: #190e2c; }
  .fg-deep-purple-0:hover {
    color: #190e2c; }

.fg-deep-purple-1 {
  color: #2c194e; }
  .fg-deep-purple-1:hover {
    color: #2c194e; }

.fg-deep-purple-2 {
  color: #402471; }
  .fg-deep-purple-2:hover {
    color: #402471; }

.fg-deep-purple-3 {
  color: #532f94; }
  .fg-deep-purple-3:hover {
    color: #532f94; }

.fg-deep-purple-4 {
  color: #673AB7; }
  .fg-deep-purple-4:hover {
    color: #673AB7; }

.fg-deep-purple-5 {
  color: #7f56c9; }
  .fg-deep-purple-5:hover {
    color: #7f56c9; }

.fg-deep-purple-6 {
  color: #9a78d4; }
  .fg-deep-purple-6:hover {
    color: #9a78d4; }

.fg-deep-purple-7 {
  color: #b49bdf; }
  .fg-deep-purple-7:hover {
    color: #b49bdf; }

.fg-deep-purple-8 {
  color: #cebeea; }
  .fg-deep-purple-8:hover {
    color: #cebeea; }

.fg-teal-0 {
  color: black; }
  .fg-teal-0:hover {
    color: black; }

.fg-teal-1 {
  color: #000c0b; }
  .fg-teal-1:hover {
    color: #000c0b; }

.fg-teal-2 {
  color: #003a35; }
  .fg-teal-2:hover {
    color: #003a35; }

.fg-teal-3 {
  color: #00685e; }
  .fg-teal-3:hover {
    color: #00685e; }

.fg-teal-4 {
  color: #009688; }
  .fg-teal-4:hover {
    color: #009688; }

.fg-teal-5 {
  color: #00c4b2; }
  .fg-teal-5:hover {
    color: #00c4b2; }

.fg-teal-6 {
  color: #00f2db; }
  .fg-teal-6:hover {
    color: #00f2db; }

.fg-teal-7 {
  color: #21ffea; }
  .fg-teal-7:hover {
    color: #21ffea; }

.fg-teal-8 {
  color: #4fffef; }
  .fg-teal-8:hover {
    color: #4fffef; }

.fg-green-0 {
  color: #142f15; }
  .fg-green-0:hover {
    color: #142f15; }

.fg-green-1 {
  color: #224f24; }
  .fg-green-1:hover {
    color: #224f24; }

.fg-green-2 {
  color: #306f33; }
  .fg-green-2:hover {
    color: #306f33; }

.fg-green-3 {
  color: #3e8f41; }
  .fg-green-3:hover {
    color: #3e8f41; }

.fg-green-4 {
  color: #4CAF50; }
  .fg-green-4:hover {
    color: #4CAF50; }

.fg-green-5 {
  color: #6abe6e; }
  .fg-green-5:hover {
    color: #6abe6e; }

.fg-green-6 {
  color: #8acc8d; }
  .fg-green-6:hover {
    color: #8acc8d; }

.fg-green-7 {
  color: #aadaac; }
  .fg-green-7:hover {
    color: #aadaac; }

.fg-green-8 {
  color: #cae8cc; }
  .fg-green-8:hover {
    color: #cae8cc; }

.fg-light-green-0 {
  color: #2c4015; }
  .fg-light-green-0:hover {
    color: #2c4015; }

.fg-light-green-1 {
  color: #446321; }
  .fg-light-green-1:hover {
    color: #446321; }

.fg-light-green-2 {
  color: #5c852c; }
  .fg-light-green-2:hover {
    color: #5c852c; }

.fg-light-green-3 {
  color: #74a838; }
  .fg-light-green-3:hover {
    color: #74a838; }

.fg-light-green-4 {
  color: #8BC34A; }
  .fg-light-green-4:hover {
    color: #8BC34A; }

.fg-light-green-5 {
  color: #a1ce6c; }
  .fg-light-green-5:hover {
    color: #a1ce6c; }

.fg-light-green-6 {
  color: #b7da8f; }
  .fg-light-green-6:hover {
    color: #b7da8f; }

.fg-light-green-7 {
  color: #cde5b1; }
  .fg-light-green-7:hover {
    color: #cde5b1; }

.fg-light-green-8 {
  color: #e3f1d4; }
  .fg-light-green-8:hover {
    color: #e3f1d4; }

.fg-lime-0 {
  color: #494f0e; }
  .fg-lime-0:hover {
    color: #494f0e; }

.fg-lime-1 {
  color: #6d7615; }
  .fg-lime-1:hover {
    color: #6d7615; }

.fg-lime-2 {
  color: #919d1c; }
  .fg-lime-2:hover {
    color: #919d1c; }

.fg-lime-3 {
  color: #b6c423; }
  .fg-lime-3:hover {
    color: #b6c423; }

.fg-lime-4 {
  color: #CDDC39; }
  .fg-lime-4:hover {
    color: #CDDC39; }

.fg-lime-5 {
  color: #d7e360; }
  .fg-lime-5:hover {
    color: #d7e360; }

.fg-lime-6 {
  color: #e1ea87; }
  .fg-lime-6:hover {
    color: #e1ea87; }

.fg-lime-7 {
  color: #ebf1ae; }
  .fg-lime-7:hover {
    color: #ebf1ae; }

.fg-lime-8 {
  color: #f4f8d5; }
  .fg-lime-8:hover {
    color: #f4f8d5; }

.fg-yellow-0 {
  color: #827500; }
  .fg-yellow-0:hover {
    color: #827500; }

.fg-yellow-1 {
  color: #b09e00; }
  .fg-yellow-1:hover {
    color: #b09e00; }

.fg-yellow-2 {
  color: #dec800; }
  .fg-yellow-2:hover {
    color: #dec800; }

.fg-yellow-3 {
  color: #ffe60d; }
  .fg-yellow-3:hover {
    color: #ffe60d; }

.fg-yellow-4 {
  color: #FFEB3B; }
  .fg-yellow-4:hover {
    color: #FFEB3B; }

.fg-yellow-5 {
  color: #fff069; }
  .fg-yellow-5:hover {
    color: #fff069; }

.fg-yellow-6 {
  color: #fff497; }
  .fg-yellow-6:hover {
    color: #fff497; }

.fg-yellow-7 {
  color: #fff9c5; }
  .fg-yellow-7:hover {
    color: #fff9c5; }

.fg-yellow-8 {
  color: #fffef3; }
  .fg-yellow-8:hover {
    color: #fffef3; }

.fg-amber-0 {
  color: #4e3b00; }
  .fg-amber-0:hover {
    color: #4e3b00; }

.fg-amber-1 {
  color: #7c5d00; }
  .fg-amber-1:hover {
    color: #7c5d00; }

.fg-amber-2 {
  color: #aa8000; }
  .fg-amber-2:hover {
    color: #aa8000; }

.fg-amber-3 {
  color: #d8a200; }
  .fg-amber-3:hover {
    color: #d8a200; }

.fg-amber-4 {
  color: #FFC107; }
  .fg-amber-4:hover {
    color: #FFC107; }

.fg-amber-5 {
  color: #ffcc35; }
  .fg-amber-5:hover {
    color: #ffcc35; }

.fg-amber-6 {
  color: #ffd863; }
  .fg-amber-6:hover {
    color: #ffd863; }

.fg-amber-7 {
  color: #ffe391; }
  .fg-amber-7:hover {
    color: #ffe391; }

.fg-amber-8 {
  color: #ffefbf; }
  .fg-amber-8:hover {
    color: #ffefbf; }

.fg-orange-0 {
  color: #472b00; }
  .fg-orange-0:hover {
    color: #472b00; }

.fg-orange-1 {
  color: #754600; }
  .fg-orange-1:hover {
    color: #754600; }

.fg-orange-2 {
  color: #a36100; }
  .fg-orange-2:hover {
    color: #a36100; }

.fg-orange-3 {
  color: #d17d00; }
  .fg-orange-3:hover {
    color: #d17d00; }

.fg-orange-4 {
  color: #FF9800; }
  .fg-orange-4:hover {
    color: #FF9800; }

.fg-orange-5 {
  color: #ffab2e; }
  .fg-orange-5:hover {
    color: #ffab2e; }

.fg-orange-6 {
  color: #ffbd5c; }
  .fg-orange-6:hover {
    color: #ffbd5c; }

.fg-orange-7 {
  color: #ffd08a; }
  .fg-orange-7:hover {
    color: #ffd08a; }

.fg-orange-8 {
  color: #ffe2b8; }
  .fg-orange-8:hover {
    color: #ffe2b8; }

.fg-deep-orange-0 {
  color: #691900; }
  .fg-deep-orange-0:hover {
    color: #691900; }

.fg-deep-orange-1 {
  color: #972400; }
  .fg-deep-orange-1:hover {
    color: #972400; }

.fg-deep-orange-2 {
  color: #c52f00; }
  .fg-deep-orange-2:hover {
    color: #c52f00; }

.fg-deep-orange-3 {
  color: #f33a00; }
  .fg-deep-orange-3:hover {
    color: #f33a00; }

.fg-deep-orange-4 {
  color: #FF5722; }
  .fg-deep-orange-4:hover {
    color: #FF5722; }

.fg-deep-orange-5 {
  color: #ff7a50; }
  .fg-deep-orange-5:hover {
    color: #ff7a50; }

.fg-deep-orange-6 {
  color: #ff9d7e; }
  .fg-deep-orange-6:hover {
    color: #ff9d7e; }

.fg-deep-orange-7 {
  color: #ffc0ac; }
  .fg-deep-orange-7:hover {
    color: #ffc0ac; }

.fg-deep-orange-8 {
  color: #ffe3da; }
  .fg-deep-orange-8:hover {
    color: #ffe3da; }

.fg-brown-0 {
  color: #060404; }
  .fg-brown-0:hover {
    color: #060404; }

.fg-brown-1 {
  color: #231815; }
  .fg-brown-1:hover {
    color: #231815; }

.fg-brown-2 {
  color: #3f2d26; }
  .fg-brown-2:hover {
    color: #3f2d26; }

.fg-brown-3 {
  color: #5c4137; }
  .fg-brown-3:hover {
    color: #5c4137; }

.fg-brown-4 {
  color: #795548; }
  .fg-brown-4:hover {
    color: #795548; }

.fg-brown-5 {
  color: #966959; }
  .fg-brown-5:hover {
    color: #966959; }

.fg-brown-6 {
  color: #ab8172; }
  .fg-brown-6:hover {
    color: #ab8172; }

.fg-brown-7 {
  color: #bc9b8f; }
  .fg-brown-7:hover {
    color: #bc9b8f; }

.fg-brown-8 {
  color: #cdb4ab; }
  .fg-brown-8:hover {
    color: #cdb4ab; }

.fg-gray-0 {
  color: #424242; }
  .fg-gray-0:hover {
    color: #424242; }

.fg-gray-1 {
  color: #595959; }
  .fg-gray-1:hover {
    color: #595959; }

.fg-gray-2 {
  color: #707070; }
  .fg-gray-2:hover {
    color: #707070; }

.fg-gray-3 {
  color: #878787; }
  .fg-gray-3:hover {
    color: #878787; }

.fg-gray-4 {
  color: #9E9E9E; }
  .fg-gray-4:hover {
    color: #9E9E9E; }

.fg-gray-5 {
  color: #b5b5b5; }
  .fg-gray-5:hover {
    color: #b5b5b5; }

.fg-gray-6 {
  color: #cccccc; }
  .fg-gray-6:hover {
    color: #cccccc; }

.fg-gray-7 {
  color: #e3e3e3; }
  .fg-gray-7:hover {
    color: #e3e3e3; }

.fg-gray-8 {
  color: #fafafa; }
  .fg-gray-8:hover {
    color: #fafafa; }

.fg-blue-gray-0 {
  color: #151b1e; }
  .fg-blue-gray-0:hover {
    color: #151b1e; }

.fg-blue-gray-1 {
  color: #28343a; }
  .fg-blue-gray-1:hover {
    color: #28343a; }

.fg-blue-gray-2 {
  color: #3a4c55; }
  .fg-blue-gray-2:hover {
    color: #3a4c55; }

.fg-blue-gray-3 {
  color: #4d6570; }
  .fg-blue-gray-3:hover {
    color: #4d6570; }

.fg-blue-gray-4 {
  color: #607D8B; }
  .fg-blue-gray-4:hover {
    color: #607D8B; }

.fg-blue-gray-5 {
  color: #7794a1; }
  .fg-blue-gray-5:hover {
    color: #7794a1; }

.fg-blue-gray-6 {
  color: #93a9b4; }
  .fg-blue-gray-6:hover {
    color: #93a9b4; }

.fg-blue-gray-7 {
  color: #aebfc7; }
  .fg-blue-gray-7:hover {
    color: #aebfc7; }

.fg-blue-gray-8 {
  color: #c9d4da; }
  .fg-blue-gray-8:hover {
    color: #c9d4da; }

.fg-black-0 {
  color: black; }
  .fg-black-0:hover {
    color: black; }

.fg-black-1 {
  color: black; }
  .fg-black-1:hover {
    color: black; }

.fg-black-2 {
  color: black; }
  .fg-black-2:hover {
    color: black; }

.fg-black-3 {
  color: black; }
  .fg-black-3:hover {
    color: black; }

.fg-black-4 {
  color: #000; }
  .fg-black-4:hover {
    color: #000; }

.fg-black-5 {
  color: #171717; }
  .fg-black-5:hover {
    color: #171717; }

.fg-black-6 {
  color: #2e2e2e; }
  .fg-black-6:hover {
    color: #2e2e2e; }

.fg-black-7 {
  color: #454545; }
  .fg-black-7:hover {
    color: #454545; }

.fg-black-8 {
  color: #5c5c5c; }
  .fg-black-8:hover {
    color: #5c5c5c; }

.fg-white-0 {
  color: #a3a3a3; }
  .fg-white-0:hover {
    color: #a3a3a3; }

.fg-white-1 {
  color: #bababa; }
  .fg-white-1:hover {
    color: #bababa; }

.fg-white-2 {
  color: #d1d1d1; }
  .fg-white-2:hover {
    color: #d1d1d1; }

.fg-white-3 {
  color: #e8e8e8; }
  .fg-white-3:hover {
    color: #e8e8e8; }

.fg-white-4 {
  color: #fff; }
  .fg-white-4:hover {
    color: #fff; }

.fg-white-5 {
  color: white; }
  .fg-white-5:hover {
    color: white; }

.fg-white-6 {
  color: white; }
  .fg-white-6:hover {
    color: white; }

.fg-white-7 {
  color: white; }
  .fg-white-7:hover {
    color: white; }

.fg-white-8 {
  color: white; }
  .fg-white-8:hover {
    color: white; }

/*# sourceMappingURL=colors.css.map */
