@import "mixins.sass"
@import "colors.scss"

$profileImageSize: 80px
//
// Icons Set-up override
//

.icon-xs
    font-size: 0.8em

.icon-sm
    font-size: 1.2em

.icon-md
    font-size: 1.6em

.icon-lg
    font-size: 2.4em

//
// Base styles
//

*
    font-family: 'Roboto Condensed', sans-serif

body 
    padding-top: 50px
    padding-bottom: 20px
#footer

.body-content 
    padding-left: 15px
    padding-right: 15px
    margin-top: 30px


.no-margin
    margin: 0
    
.no-padding
    padding: 0
    
.body-content
    min-height: 100vh

$mediaPanelPallete: #4183D7

.media-panel
    background: #fff
    margin: 10px 0
    border: 1px solid darken(#F4F3F8,3)
    padding: 16px 20px
    border-radius: 2px
    +clearfix()
    .media-body
        display: table-cell
        vertical-align: middle
        overflow: hidden
        height: 50px
        padding-left: 70px
        .media-header
            display: block
            font-size: 1.2em
            font-weight: 600
        .media-footer
            display: inline-block
            color: lighten(black,50)
    .media-icon
        color: $mediaPanelPallete
        display: inline
        position: absolute
        vertical-align: middle
        text-align: center
        border: 2px solid lighten($mediaPanelPallete,10)
        border-radius: 100px
        padding: 12px
        width: 50px

        .fa
            display: inline
            font-size: 20px
            line-height: 1

.user-card
    border: 1px solid rgb(220,220,220)
    margin: 2px
    transition: all 200ms ease-out
    -webkit-transition: all 200ms ease-out
    perspective: 1000px
    background: white

.card-holder:not(.highlight) > .user-card
    +card(0)
    &:hover
        +card(4)


.user-card
    .profile-desc
        vertical-align: middle
        color: rgba(0,0,0,.6)
        display: inline-block
        position: absolute
        left: 0
        top: 0
        padding-left: 110px
        padding-top: 24px
        width: 100%
        .user-name
            color: #444
            font-size: 1.3em
            font-weight: 700
            overflow: hidden
            white-space: nowrap
            text-overflow: clip
            min-width: 100%
            display: block

    .profile-image
        width: $profileImageSize
        height: $profileImageSize
        border: 3px solid #cbcbcb
        display: inline-block
        border-radius: 50%
        
        .profile-image-content
            width: 100%
            height: 100%
            border-radius: 50%

.userpage-card
    .profile-image
        border: 1px solid #cbcbcb
        display: inline-block
        float: left
        border-radius: 3px
        padding: 10px
        width: 140px
        height: 140px
        .profile-image-content
            width: 100%
            height: 100%
            border-radius: 50%
    .profile-desc
        padding: 10px 160px
        color: #666
        .profile-name
            color: #444
            font-size: 1.4em
            font-weight: 700
            overflow: hidden
            white-space: nowrap
            text-overflow: clip
            min-width: 100%
            display: block

// Small profiles (deletion etc.)
.user-small-img
    width: 100%
    border: 1px solid #cbcbcb
    display: inline-block
    float: left
    border-radius: 3px
    padding: 10px
.award-big-img
    width: 100%
    border: 1px solid #cbcbcb
    display: inline-block
    float: left
    border-radius: 3px
    padding: 10px


.header-buttons
    margin-top: 20px

.awards-card
    z-index: 1
    position: absolute
    width: 100%
    padding: 2px
    margin-top: -4px
    .awards-list
        box-shadow: inset 0 5px 10px #DCDCDC
        background: white
        border: 1px solid darken(#DCDCDC,10)
        padding: 14px
.focusDiv 
    z-index: 9999999 !important

.highlight
    background-color: #FFF
    position: relative
    z-index: 100
    border-radius: 3px

#modal-background
    display: none
    opacity: 0
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #000
    z-index: 10

@keyframes fader-in 
    from 
        opacity: 0
    to
        opacity: .2


.award-table-desc
    span
        display: block
    .award-table-title
        font-weight: bold
        font-size: 1.1em
.award-table-img
    max-width: 20px
    

.form-container
    background: white
    border-radius: 3px
    border: 1px solid rgb(230,230,230)
    form
        border: none
    .form-content
        margin: 40px
        .profile-image
            display: block
            border: 1px solid rgb(230,230,230)
            border-radius: 3px
            padding: 5px
            .profile-image-content
                display: block
                width: 100%
    .form-header
        border-bottom: 1px solid rgb(230,230,230)
        .form-title
            display: block
            color: #666
            padding: 0 0 10px 20px


.award-thumbnail
    width: 40px
    height: 40px
    display: inline-block

.choose-award
    margin: 10px 10px
    +clearfix
    .choose-award-info-block
        margin-left: 60px
        .choose-award-desc,
        .choose-award-title
            display: block
        .choose-award-desc
            color: #777
            font-weight: 200
            display: block
        .choose-award-title
            font-weight: 600
            font-size: 1.2em

    .choose-award-image
        float: left
        width: 40px
        height: 40px
        display: inline-block
.award-modal
    .thumbnail
        width: 100%
    .award-modal-title
        font-size: 1.3em
    .award-modal-desc
//
// Utils
//

.text-bold
    font-weight: 600

.validation-error
    background: #F44336
    display: block
    font-weight: 100
    margin-top: 2px
    line-height: 1.4
    padding-top: 3px
    width: 100%

.block-ui
    border: none !important
    background: none !important
    color: #444 !important
    font-size: 2em
    cursor: default !important


.spin
    -webkit-animation: spin 1s infinite linear

@-moz-keyframes spin
    0%  
        -webkit-transform: rotate(0deg)
    100% 
        -webkit-transform: rotate(360deg)


@-webkit-keyframes spin
    0%  
        -webkit-transform: rotate(0deg)
    100% 
        -webkit-transform: rotate(360deg)


@keyframes spin
    0%  
        -webkit-transform: rotate(0deg)
    100% 
        -webkit-transform: rotate(360deg)