﻿@helper CustomModal(string id, bool footer)
{
    <!-- Modal -->
    <div class="modal fade" id="@id" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                </div>
                @if (footer)
                {
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
}

@helper BoolCompare(bool Exp, string data)
{
if (Exp)
{
        @data
}
}