* {
	@include vendor(box-sizing, border-box);
}


img {
	max-width: 100%;
}

.container {
	background: $container-bg;
	border-right: $container-border solid 1px;
	border-left: $container-border solid 1px;
	padding: 0 $container-padding;
	@include flexbox;
	@include flex-flow(row wrap);
	align-content: space-between;
	margin: 0 auto;

	@include respond-to(sm,true) {
		width: map-get($breakpoints, xs);
	}
	@include respond-to(md,true) {
		width: map-get($breakpoints, sm);
	}
	@include respond-to(lg,true) {
		width: map-get($breakpoints, md);
	}
	@include respond-to(xl,true) {
		width: map-get($breakpoints, lg);
	}
}

.main,
.header,
.footer {
	@include flex(1 100%);
}

.main {
	@include flexbox;
	@include flex-flow(column wrap);
	@include respond-to(lg) {
		margin: 20px 0 0 20px;
		@include flex(1 0px);
	}
}