  <div class="modal-header">
    <button type="button" class="close" ng-click="vm.close();">
    	<span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{vm.modalOptions.header}}</h4>
  </div>
  <div class="modal-body">
    <div class="alert">{{vm.modalOptions.message}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="vm.confirm();">
      {{vm.modalOptions.buttons.save || 'Save changes'}}
    </button>
    <button type="button" class="btn btn-default" ng-click="vm.close();">
      {{vm.modalOptions.buttons.cancel || 'Cancel'}}
    </button>
  </div>
  
