<div class="modal-header">
	<button type="button" class="close" ng-click="vm.close();">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{vm.modalOptions.header}}</h4>
</div>
<div class="modal-body">
    <div class="well">{{vm.modalOptions.message}}</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="vm.close();">
		{{vm.modalOptions.buttons.save || 'Cancel'}}
	</button>
</div>

