//------------------------------------//
//  Helpers
//------------------------------------//

.unstyled-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.no-padding {
	padding: 0;
}

%empty {
  &:empty {
        display: none;
  }
}

%text-nowrap {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}