// Breakpoint mixin, media query inheritance;
// @param {map} $device-list [(sm,md,lg) || md] - Map of linked breakpoints for media queries
// @param {boolean} $only-current [false] - If true - prevents inheritance (from smaller to larger)
@mixin respond-to($device-list,$only-current: false) {
	@each $device in $device-list {
			@if($device == xs){
				@media screen and (max-width: #{map-get($breakpoints,xs)}) {
					@content;
				}
				//Recursive
				@if not $only-current {
					@include respond-to(sm) {
						@content;
					}
				}
			}
			@else if($device == sm){
				@media screen and (min-width: #{map-get($breakpoints,xs)+1}) and (max-width: #{map-get($breakpoints,sm)}) {
					@content;
				}
				@if not $only-current {
					@include respond-to(md) {
						@content;
					}
				}
			}
			@else if($device == md){
				@media screen and (min-width: #{map-get($breakpoints,sm)+1}) and (max-width: #{map-get($breakpoints,md)}) {
					@content;
				}
				@if not $only-current {
					@include respond-to(lg) {
						@content;
					}
				}
			}
			@else if($device == lg){
				@media screen and (min-width: #{map-get($breakpoints,md)+1}) and (max-width: #{map-get($breakpoints,lg)}) {
					@content;
				}
				@if not $only-current {
					@include respond-to(xl) {
						@content;
					}
				}
			}
			@else if($device == xl){
				@media screen and (min-width: #{map-get($breakpoints,lg)+1}) {
					@content;
				}
				@if not $only-current {
					@include respond-to(wide) {
						@content;
					}
				}
			}
			@else {
				@warn "No such layout";
			};
	}
}

@mixin visibility($device,$visibility) {
	@include respond-to($device,true) {
			display: $visibility !important;
	}
}

// Build a visibility classes
@each $device in (xs,sm,md,lg,xl) {
	.visible-#{$device} {
		display: none;
		@include visibility($device,inline); 
		@each $display in (block,inline) {
			&-#{$display} {
				display: none;
				@include visibility($device,$display);
			}
		}
	}
	.hidden {
		display: none;
		&-#{$device} {
			@include visibility($device,none);
		}
	}
}




