//------------------------------------//
//  Sizing
//------------------------------------//

$container-padding: 15px;


//------------------------------------//
//  Typography
//------------------------------------//
$sticky-panel-width: 200px;
$fontsize-base: 14px;
$fontsize-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-main: 'Gentium Basic', serif;

$btn-icon-sm: $font-size-lg;
$btn-icon-md: 22px;
$btn-icon-lg: 26px;
$btn-icon-xl: 34px;

//------------------------------------//
//  Responsive
//------------------------------------//

$breakpoints: (
    xs: 480px,
    sm: 768px,
    md: 992px,
    lg: 1176px
);

//------------------------------------//
//  Colors
//------------------------------------//

//-----Layout
$container-border: #eee;
$container-bg: #fbfbfb;

//-----Typography 
$color-muted: #888;

$link-primary: #34ACA7;
$link-hover: #EC6F5A;
$btn-primary: #555;

//-----Border 
$border-primary: #ccc;

$text-primary: #999;
$text-dark: #333;

$input-focus: $link-primary;

//-----Carousel 
$carousel-title-bg: rgba(255,255,255,.8);
$carousel-title-fg: $btn-primary;
$carousel-desc-bg: $text-dark;
$carousel-desc-fg: #eee;

$carousel-nav-bg: #EFF8F7;
$carousel-nav-bg-hover: #D9EFEC;


//-----Carousel 
$nav-icon-color: #555;
$nav-icon-color-hover: #888;