﻿@model UsersAwardsApp.PLAttributes.Models.UserProfileViewModel

@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
    ViewBag.Title = "Delete user "+Model.Name;
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Are you sure you want to delete this user profile?
            </div>
            <div class="panel-body clearfix">
                <div class="row">

                    <div class="col-md-2">
                        <img src="@Url.Action("GetProfileImage",  new { id = Model.Id, placeHolder = "~/Content/img/no-image.jpg" })" alt="" class="user-small-img" />
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="control-label col-md-3 text-right">
                                <b>@Html.DisplayNameFor(x => x.Name):</b>
                            </div>
                            <div class="col-md-9 text-left">
                                @Html.DisplayFor(x => x.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-md-3 text-right">
                                <b>@Html.DisplayNameFor(x => x.BirthDate):</b>
                            </div>
                            <div class="col-md-9 text-left">
                                @Html.DisplayFor(x => x.BirthDate)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-md-3 text-right">
                                <b>@Html.DisplayNameFor(x => x.Age):</b>
                            </div>
                            <div class="col-md-9 text-left">
                                @Html.DisplayFor(x => x.Age)
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group clearfix">
                <div class="btn-group pull-right">
                    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
                    <input type="submit" value="Delete" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</div>
