﻿@model IEnumerable<UsersAwardsApp.PLAttributes.Models.UserProfileViewModel>

@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
    ViewBag.Title = "All users";
}

@section Scripts {
    
}

@section Modal{
    @Helpers.CustomModal("AwardModal", false)
    @Helpers.CustomModal("ErrorModal", true)
}
@section Heading{
    <div class="header-buttons btn-group pull-right">
        <a href="@Url.Action("CreateUser","Users",null)" class="btn btn-sm btn-success">
            <i class="fa fa-plus"></i>
        </a>

        <a href="@Url.Action("DownloadReport","Users",null)" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" title="Download report">
            <i class="fa fa-download"></i>
        </a>
    </div>
}
@section Search{
    <div class="row clearfix">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Users", FormMethod.Get, new { id = "SearchForm" }))
                {
                    <div class="input-group">
                        @Html.TextBox("term", null, new { id = "SearchField", placeholder = "Search ...", @class = "form-control input-sm" })
                        <span class="input-group-btn">
                            <button type="reset" class="btn btn-default btn-sm" id="ClearSearch">
                                <span class="fa fa-close" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-default btn-sm" type="submit">
                                <span class="fa fa-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div><!-- /input-group -->
                }
            </div>
        </div>
    </div><!-- /.row -->
}


    <div class="row">
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                @Html.Partial("_UserProfilePartial", item);
            }
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                No users were found. 
            </div>
        }
        <div id="modal-background"></div>
    </div>

