﻿@model UsersAwardsApp.PLAttributes.Models.UserProfileViewModel

@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
    ViewBag.Title = Model.Name;
}
@section Modal{
    @Helpers.CustomModal("AwardModal", false)
    @Helpers.CustomModal("ErrorModal", true)
}
<div class="row">

    <div class="panel panel-default">
        <div class="panel-body userpage-card clearfix">
            <div class="profile-image">
                <img src="@Url.Action("GetProfileImage",  new { id = Model.Id, placeHolder = "~/Content/img/no-image.jpg" })" alt="" class="profile-image-content" />

            </div>
            <div class="profile-desc">
                <div class="profile-name">@Html.DisplayFor(model => model.Name)</div>
                <div>
                    <b>Birth Date:</b> @string.Format("{0:dd.MM.yyyy}", Model.BirthDate)
                </div>
                <div>
                    <b>Age:</b> @Model.Age
                </div>
                <hr />
                <div class="awards-list">
                    @Html.Action("GetAwardsForUser", "Awards", new { id = Model.Id })
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="btn-group pull-right">
                @Html.ActionLink("Edit", "Edit", new { userId = Model.Id }, new { @class = "btn btn-sm btn-default" })
                @Html.ActionLink("Delete", "Delete", new { userId = Model.Id }, new { @class = "btn btn-sm btn-default" })
                @Html.ActionLink("Give an award", "ChooseAward", "Awards", new { userId = Model.Id }, new { @class = "btn btn-sm btn-success" })
            </div>
        </div>
    </div>


</div>