﻿@model UsersAwardsApp.PL.Models.UserProfileViewModel

<div class="col-md-4 no-padding card-holder">
    <div class="user-card">
        <div class="panel-body">
            <div class="profile-image">
                <img src="@Url.Action("GetProfileImage",  new { id = Model.Id, placeHolder = "~/Content/img/no-image.jpg" })" alt="" class="profile-image-content" />
            </div>
            <div class="profile-desc">
                <span class="user-name"><a href="@Url.Action("UserPage","Users",new { userId = Model.Id})">@Html.DisplayFor(modelItem => modelItem.Name)</a></span>
                <div><b>Birth Date:</b> @string.Format("{0:dd}.{0:MM}.{0:yyy}", Model.BirthDate)</div>
                <div><b>Age:</b> @Html.DisplayFor(modelItem => modelItem.Age)</div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <span class="btn-group btn-group-xs pull-right">
                <a href="@Url.Action("Edit", new { userId = Model.Id })" class="btn btn-primary">
                    <i class="fa fa-cog"></i>
                    <span class="sr-only">Edit</span>
                </a>
                @Ajax.IconAjaxLink("fa fa-trash-o", "Delete user", "DeleteAjax", new { userId = Model.Id }, new { @class = "btn btn-primary" },
                   new AjaxOptions
                   {
                       Confirm = "Are you sure want to delete this user profile?",
                       OnSuccess = "PageModule.ajaxAction.userDeleteSuccess",
                       OnBegin = "PageModule.ajaxAction.userDeleteBegin",
                   })
            </span>

            <div class="btn-group">
                <a href="@Url.Action("UserPage","Users",new { userId = Model.Id})" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#collapseExample-@Model.Id" aria-expanded="false" aria-controls="collapseExample">Awards</a>
                <a href="@Url.Action("ChooseAward","Awards",new { userId = Model.Id})" class="btn btn-primary btn-xs">
                    <i class="fa fa-plus"></i>
                </a>
            </div>

        </div>

    </div>

    <div class="collapse awards-card" id="collapseExample-@Model.Id">
        <div class="awards-list">
            @Html.Action("GetAwardsForUser","Awards",new { id = Model.Id})
        </div>
    </div>
</div>
