﻿@model UsersAwardsApp.PL.Models.UserProfileViewModel

@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
    ViewBag.Title = "Create new user";
}

<div class="row">

    <div class="form-container col-md-6 col-md-offset-3 no-padding">
        <div class="form-header">
            <div class="form-title">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
        <div class="form-content">
            @using (Html.BeginForm("CreateUser", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "label validation-error" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.BirthDate,new { htmlAttributes = new { @class = "form-control" }  })
                            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "label validation-error" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            <input type="file" name="file" id="file" class="form-control" style="width: 100%;" />
                            @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "label validation-error" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-6">
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group">
                                    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
                                </div>
                                <div class="btn-group">
                                    <input type="submit" value="Create user" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}