@import "common/styles/mixins.scss";
@import "common/styles/animation.scss";

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	background-color: #fff;
	@include flexbox();
	@include flex-flow(row wrap);
	justify-content: center;

}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.page {
	max-width: 1000px;
	@include flexbox();
	@include flex-flow(column wrap);
	@include flex(0 0 auto);

	&-header, 
	&-content, 
	&-footer {
		@include flexbox();
	}
	&-header {
		min-height: 100px;
		@include flex(0 0 auto);
		align-items: center;
		font-size: 26px;
		font-weight: bold;
		font-style: italic;
		color: #666;
	}
	&-content {
		justify-content: space-between;
		@include flex(0 0 auto);
		margin-bottom: 20px;
	}
	&-footer {
		margin-top: auto;
		width: 100%;
		border: 1px solid #ccc;
		border-bottom: none;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
		padding: 20px 10px;
	}
}
[ui-view] {
	@include flexbox();
	@include flex-flow(column nowrap);
	@include flex-grow(1);	
}
.todos {
	@include flexbox();
	@include flex-flow(row nowrap);
	@include flex-grow(1);
	justify-content: space-between;
	align-content: flex-end;
	items-content: flex-end;
	&-left,
	&-right {
		@include flexbox();
		@include flex-flow(column wrap);
	}
	&-right {
		height: 100%;
		background: #f9f9f9;
		border-radius: 4px;
		padding: 4px 6px;
		border: 1px solid #f1f1f1;
		margin-left: 20px;
		align-items: flex-end;
	}
	&-container {
		@include flexbox();
		@include flex-flow(column wrap);
		width: 100%;
		margin-bottom: 3px;
	}
}
.todo {
	@include flexbox();
	@include flex(0 1 auto);
	@include flex-flow(row nowrap);

	align-items: center;
	border: 1px solid #ccc;
	padding: 10px;
	background: #fff;
	border-radius: 4px;
	margin: 4px 0;
	
	&-done {
		width: 20px;
		@include flexbox(inline-flex);
		@include flex(0 0 auto);
	}
	&-title {
		color: #444;
	}
	&-actions {
		@include flexbox();
		margin-left: auto;
	}

}

.module {
	@include flexbox();
	@include flex-flow(column nowrap);
}

.form-group {
		margin: 5px 0;
}

.form-control {
	outline: none;
	font-size: 14px;
	margin: 2px 0;
	&:focus {
		border-color: rgb(50,160,255);
		box-shadow: 0 0 2px 0 rgb(50,50,255);
	}
	&-wide {
		width: 100%;
	}
}

.form-control, 
.btn {
	padding: 4px 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.btn {
	background-color: #f7f7f7;
	@extend .cursor-pointer;
	color: #555;
	font-size: 14px;
	margin: 0 1px;
	&:disabled {
		color: #999;
		cursor: default;
	}
	&-sm {
		padding: 0 4px;
	}
	&:hover:not(:disabled) {
		border-color: #408bff;
		color: #408bff;
	}
}

.alert {
	@include flexbox();
	border-radius: 4px;
	padding: 6px 8px;
	color: #444;
	font-size: 14px;
	background-color: #dedede;
	border: 1px #ccc solid;
	width: 100%;
	justify-content: center;
	&-info {
		background-color: #cae3f1;
		border-color: #84c0dc;
	}
	&-success {
		background-color: #d0f3a8;
		border-color: #8cc544;
	}
	&-danger {
		background-color: #f19797;
		border-color: #d03737;
	}
}
.tree {
   	font-family: FontAwesome;
   	background: none;
   	border: none;
   	font-size: 12px;
   	color: #999;
   	outline:none;
	width: 26px;
   	cursor: pointer;
   	&:hover {
   		color: #333;
   	}
	&:before {
	   content: "\f077";
	}
	&-closed {
		&:before {
		   content: "\f078";
		}
	}
   	&-empty {
   		cursor: default;
   		&:before {
		   content: "";
		}
   	}

}
.category {
	@include flexbox();
	@include flex(0 0 auto);
	border-radius: 6px;
	border: 1px solid #ccc;
	width: 400px;
	& > &-list li:last-child > .category-item{
		border-bottom: none;
	}
	&-buttons {
		@include flexbox();
		@include flex-grow(1);
		justify-content: flex-end;
		position: relative;
		.btn-left {
			margin-right: auto;
		}
	}
	&-list {
		@include flexbox();
		@include flex-flow(column wrap);
		@include flex-grow(1);
		overflow-x: hidden;
		li {
			.category-list {
				margin-left: 10px;

				transition: 400ms ease-out all;
				opacity: 1;
				&.closed {
					opacity: 0;
					height: 0;
				}
			}
		}
		.category-item {
			border-bottom: 1px solid #ccc;
			padding: 6px 6px;
			@include flexbox();
			@include flex(1 0 auto);
			align-items: center;
		}

	}
	&-title {
		max-width: 400px;
		overflow:hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		text-decoration: none;
		color: #3ba3d6;
		font-weight: 600;
		font-size: 14px;
		font-style: italic;
		margin-right: 6px;
		&:hover, &.active {
			color: #0470a5;
			text-decoration: underline;
		}
	}
}

.editor {
	&-header {
		@include flexbox();
		justify-content: flex-end;
		margin-bottom: 10px;
	}
	&-form {
		@include flexbox();
		@include flex-flow(column nowrap);
	}
}

.align-right {
	margin-left: auto;
}

.text-danger {
	color: #ffaaaa;
}

.cursor-pointer {
	cursor: pointer;
}

.fade.in {
    opacity: 1;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}


.modal {
	background-color: rgba(0,0,0,.4);
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
	&-dialog {
		width: 500px;
	    margin: 30px auto;
	    background: #fff;
		border-radius: 8px;
	}
	&-content {
	    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
		border-radius: 8px;
		@include flexbox();
		@include flex-grow(1);
		@include flex-flow(column wrap);
	}
	&-header {
		@include flexbox();
		@include flex-flow(row-reverse wrap);
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #ccc;
		font-size: 24px;
		padding: 12px;
	}
	&-title {
		margin: 0;
		color: #666;
		font-size: 18px;
	}
	&-body {
		padding: 12px;
	}
	&-footer {
		@include flexbox();
		@include flex-flow(row wrap);
		justify-content: flex-end;
		border-top: 1px solid #ccc;
		padding: 12px;
	}
	&-open & {
		overflow-x: hidden;
    	overflow-y: auto;
	}
	&-backdrop.in {
		filter: alpha(opacity=50);
    	opacity: .5;
	}
	&-backdrop.fade {
		filter: alpha(opacity=0);
    	opacity: 0;
	}
	&-backdrop {
		position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 1040;
	    background-color: #000;
	}
}
.close {
	background: none;
	outline: none;
	border: none;
	@extend .cursor-pointer;
	float: right;
	height: auto;
	&:hover {
		color: #666;
	}
}

.pointer {
	@extend .cursor-pointer;
}

.hidden {
	display: none;
}

// injector
// endinjector
