[ui-view].ng-enter {
  -webkit-transition: 300ms linear all;
          transition: 300ms linear all;
  opacity: 0; }

[ui-view].ng-enter-active {
  opacity: 1; }

.btn.ng-animate {
  -webkit-transition: 200ms ease-out all;
          transition: 200ms ease-out all; }

.btn.ng-enter {
  opacity: 0;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px); }

.btn.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.btn.ng-leave {
  opacity: 0; }

.btn.ng-leave.ng-leave-active {
  position: absolute;
  right: 0; }

.category-list li {
  -webkit-transition: 200ms linear all;
          transition: 200ms linear all; }

.category-list li.ng-leave {
  opacity: 1; }

.category-list li.ng-leave-active {
  opacity: 0; }

.category-list li.ng-enter {
  opacity: 0; }

.category-list li.ng-enter-active {
  opacity: 1; }

.todo.ng-enter {
  -webkit-transition: 400ms ease-out all;
          transition: 400ms ease-out all;
  opacity: 0;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px); }

.todo.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

html,
body {
  height: 100%; }

body {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

.page {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }
  .page-header, .page-content, .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .page-header {
    min-height: 100px;
    -webkit-box-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    color: #666; }
  .page-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: 20px; }
  .page-footer {
    margin-top: auto;
    width: 100%;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 20px 10px; }

[ui-view] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.todos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  items-content: flex-end; }
  .todos-left, .todos-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
  .todos-right {
    height: 100%;
    background: #f9f9f9;
    border-radius: 4px;
    padding: 4px 6px;
    border: 1px solid #f1f1f1;
    margin-left: 20px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .todos-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 100%;
    margin-bottom: 3px; }

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  margin: 4px 0; }
  .todo-done {
    width: 20px;
    display: -webkit-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
  .todo-title {
    color: #444; }
  .todo-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto; }

.module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }

.form-group {
  margin: 5px 0; }

.form-control {
  outline: none;
  font-size: 14px;
  margin: 2px 0; }
  .form-control:focus {
    border-color: #32a0ff;
    box-shadow: 0 0 2px 0 #3232ff; }
  .form-control-wide {
    width: 100%; }

.form-control,
.btn {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ccc; }

.btn {
  background-color: #f7f7f7;
  color: #555;
  font-size: 14px;
  margin: 0 1px; }
  .btn:disabled {
    color: #999;
    cursor: default; }
  .btn-sm {
    padding: 0 4px; }
  .btn:hover:not(:disabled) {
    border-color: #408bff;
    color: #408bff; }

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  padding: 6px 8px;
  color: #444;
  font-size: 14px;
  background-color: #dedede;
  border: 1px #ccc solid;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .alert-info {
    background-color: #cae3f1;
    border-color: #84c0dc; }
  .alert-success {
    background-color: #d0f3a8;
    border-color: #8cc544; }
  .alert-danger {
    background-color: #f19797;
    border-color: #d03737; }

.tree {
  font-family: FontAwesome;
  background: none;
  border: none;
  font-size: 12px;
  color: #999;
  outline: none;
  width: 26px;
  cursor: pointer; }
  .tree:hover {
    color: #333; }
  .tree:before {
    content: "\f077"; }
  .tree-closed:before {
    content: "\f078"; }
  .tree-empty {
    cursor: default; }
    .tree-empty:before {
      content: ""; }

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 400px; }
  .category > .category-list li:last-child > .category-item {
    border-bottom: none; }
  .category-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative; }
    .category-buttons .btn-left {
      margin-right: auto; }
  .category-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-x: hidden; }
    .category-list li .category-list {
      margin-left: 10px;
      -webkit-transition: 400ms ease-out all;
              transition: 400ms ease-out all;
      opacity: 1; }
      .category-list li .category-list.closed {
        opacity: 0;
        height: 0; }
    .category-list .category-item {
      border-bottom: 1px solid #ccc;
      padding: 6px 6px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .category-title {
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #3ba3d6;
    font-weight: 600;
    font-size: 14px;
    font-style: italic;
    margin-right: 6px; }
    .category-title:hover, .category-title.active {
      color: #0470a5;
      text-decoration: underline; }

.editor-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 10px; }

.editor-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }

.align-right {
  margin-left: auto; }

.text-danger {
  color: #ffaaaa; }

.cursor-pointer, .btn, .close, .pointer {
  cursor: pointer; }

.fade.in {
  opacity: 1; }

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear; }

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal-dialog {
    width: 500px;
    margin: 30px auto;
    background: #fff;
    border-radius: 8px; }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
  .modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row-reverse wrap;
    flex-flow: row-reverse wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    padding: 12px; }
  .modal-title {
    margin: 0;
    color: #666;
    font-size: 18px; }
  .modal-body {
    padding: 12px; }
  .modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-top: 1px solid #ccc;
    padding: 12px; }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto; }
  .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5; }
  .modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0; }
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000; }

.close {
  background: none;
  outline: none;
  border: none;
  float: right;
  height: auto; }
  .close:hover {
    color: #666; }

.hidden {
  display: none; }

[ui-view].ng-enter {
  -webkit-transition: 300ms linear all;
          transition: 300ms linear all;
  opacity: 0; }

[ui-view].ng-enter-active {
  opacity: 1; }

.btn.ng-animate {
  -webkit-transition: 200ms ease-out all;
          transition: 200ms ease-out all; }

.btn.ng-enter {
  opacity: 0;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px); }

.btn.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.btn.ng-leave {
  opacity: 0; }

.btn.ng-leave.ng-leave-active {
  position: absolute;
  right: 0; }

.category-list li {
  -webkit-transition: 200ms linear all;
          transition: 200ms linear all; }

.category-list li.ng-leave {
  opacity: 1; }

.category-list li.ng-leave-active {
  opacity: 0; }

.category-list li.ng-enter {
  opacity: 0; }

.category-list li.ng-enter-active {
  opacity: 1; }

.todo.ng-enter {
  -webkit-transition: 400ms ease-out all;
          transition: 400ms ease-out all;
  opacity: 0;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px); }

.todo.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.plate {
  background-color: #FFFFFF;
  margin: 10px 0;
  font-size: 16px;
  box-shadow: 2px 2px 2px 0px #D7D7D7; }
  .plate .plate-header {
    padding: 8px 10px;
    height: 50px;
    border: 1px solid #D7D7D7; }
    .plate .plate-header:hover {
      background-color: #F2F2F2; }
    .plate .plate-header a {
      font-family: 'Arial Bold', Arial;
      font-size: 24px;
      font-weight: 700;
      text-decoration: none;
      color: #333333;
      display: block; }
  .plate .plate-body {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #D7D7D7; }
    .plate .plate-body:hover {
      border: 2px solid #CB012F;
      padding: 9px; }
  .plate .plate-extra {
    overflow: hidden;
    border: 1px solid #D7D7D7;
    border-top: none;
    border-bottom: none; }
    .plate .plate-extra .wrapper {
      padding: 10px; }
    .plate .plate-extra .bottom-bordered {
      border-bottom: 1px solid #CCCCCC;
      margin-bottom: 10px;
      padding-bottom: 10px; }
  .plate .plate-footer .btn {
    padding: 8px; }
    @media (max-width: 768px) {
      .plate .plate-footer .btn {
        text-align: left;
        display: block;
        margin: 0;
        border-top: 0;
        width: 100%; } }
