.article {
	border: 1px solid $border-color;
	background: #fff;
	margin: 10px 0;
	box-shadow: 2px 2px 4px 0 $border-color;
	position: relative;
	&-heading {
		@extend .unstyled-list;
		padding: 12px;
		position: absolute;
		right: 0;
		li {

			float: right;
			font-size: 12px;
			padding: 0 4px;
		}
	}
	&-section {
		color: $color-article-content;
		padding: 12px 10px;
		border-top: 1px solid lighten($border-color,5);
		& > span {
			margin-bottom: 5px;
			display: block;
		}
		.text-danger {
				color: $text-danger-alt;
		}
		ul {
			list-style: none;
			margin:0;
			padding-left: 20px;
			li {
				margin: 5px 0;
			}
		}
	}
	&-section:nth-child(2) {
			border-top: none;
	}

	&-footer {
		& > .btn {
	    	padding: 8px 12px;
			font-size: 12px;
			background: #F2F2F2;
			color: #000;
			float: none;
			text-align: left;
			display: block;
			border-top: 1px solid #ccc;
			&:hover {
				background: lighten(#F2F2F2,3);
			}
		}
		@include respond-to(md) {
			direction: rtl;
			border-top: 1px solid $border-color;
			position: relative;
		    vertical-align: middle;
		    display: table;
		    width: 100%;
		    table-layout: fixed;
		    border-collapse: separate;
			& > .btn {
				direction: ltr;
				border-top: none;
				display: table-cell;
				text-align: center;
		   		&:hover {
		   			background: lighten(#F2F2F2,3);
		   		}
			    &:not(:last-child) {
			    	border-left: 1px solid $border-color;
			    }
			}
		}
	}
}