.badge {
	border-radius: 6px;
	border: 1px solid transparent;
	padding: 4px 10px;
	color: $color-badge-fg;
	text-transform: uppercase;
	font-size: 11px;
	@extend .bold;
	&-danger {
		background: $text-danger;
		&.badge-outline {
			color: $text-danger;
			border-color: $text-danger;
		}
	}
	&-outline {
		background: none;
	}
	&-muted {
		background-color: $color-badge-bg-muted;
		border-color: $color-badge-bg-muted;
	}
}