.btn {
	@extend %buttons-padding;
	text-align: center;
	color: #757575;
	text-transform: uppercase;
	&-default {
		@extend %rounded;
		border: 1px solid $border-color;
		font-size: 12px;
		z-index: 1;
		@include linear-gradient-alt(35,35,#E0E0E0,#F0F0F0);
	}
	&-flat {
		
	}
	&-block {
		@extend %block-wide;
		padding-left: 0;
		padding-right: 0;	
	}
	&-arrow {
		$h: $button-h-pad*2+15;
		&-left {
			float: left;
			position: relative;
			border: 1px solid $border-color;
			border-left: none;
			width: 95%; height: $h;
			left: 5%;
			cursor: pointer;
				&:after {
				position: absolute;
				top: 0; left: 0;
				transform-origin: 0 0;
				margin-left:2px;
				margin-top:-1px;
				border-bottom: solid 1px $border-color;
				border-left: solid 1px $border-color;
				width: ($h/2)-2px; 
				height: $h/sqrt(3);
				transform: rotate(30deg) skewY(30deg); /* create a rhombus */
				/* 49.1deg = atan(1.15) = atan(47px/40px) */
				background: #E0E0E0;
				box-shadow: inset 5px 5px 15px 0 #F0F0F0;
				content: ''
			}
		}

	}
	
}
