.form-control {
	padding: ($button-h-pad - 2) ($button-w-pad / 2);
	@extend %rounded;
	@extend %block-wide;
	border-color: $border-color;
	outline: none;
	border:1px $border-color solid;
}

select:focus {
    box-shadow: inset 0 0 3px 0 #0088FF;
    box-sizing: border-box;
}
