.icon {
    &-excel {
        &:before {
            content: '';
            background: url(#{$icons-folder}/excel.png) no-repeat 0 50%;
            float: left;
            width: 14px;
            height: 13px;
            margin-right: 4px;
        }
    }
}