.tab {
    display: inline-block;
    @extend %buttons-padding;
	color: #000;
    text-transform: uppercase;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    @include vendor(user-select,none);
    border: 1px solid $border-color;
    background: $color-tabs-bg;
    border-radius: 12px 12px 0 0;
    overflow-x: hidden;
    &.active{
    	background: $color-tabs-bg-hover;
    }
    &:hover:not(.active) {
    	background: lighten($color-tabs-bg,3);
    }
}


.tabs {
	&-panel {
		margin-top: 15px;
	}
	&-group {
		position: relative;
	    display: inline-block;
	    vertical-align: middle;
	    display: table;
	    width: 100%;
	    table-layout: fixed;
	    border-collapse: separate;
		& > .tab {
			display: table-cell;
		    float: none;
		    border-bottom: none;
		    &:not(:last-child) {
		    	border-right: none;
		    }
		    
		}
	}
	&-body {
		background: $color-tabs-bg-hover;
		border: 1px solid $border-color;
		border-top: none;
		padding: 12px 6px;
	}
}