.articles {
    padding: 6px 0;
    @include flexbox;
    @include flex-flow(row wrap);
    justify-content: space-between;
    max-width: 100%; // IE 10 FIX to set up relative width for child
}

.article {
    width: 100%;
    margin: 12px 0;
    &-img {
        border: 1px solid $border-primary;
        padding: 6px;
        box-shadow: 3px 3px 8px -2px $border-primary;
        margin-bottom: 12px;
        border-radius: 2px;
    }
    .details {
        border-bottom: 1px dashed $border-primary;
        padding-bottom: 2px;
        &:after {
            content: "\00BB";
            padding-left: 4px;
        }
    }
    p {
        color: $text-dark;
        line-height: 18px;
    }
}

@include respond-to(xs,true){
    .article {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@include respond-to(sm){
    .article {
        width: 45%;
    }
}
@include respond-to(md){
    .article {
        width: 22%;
    }
}