.sidebar {
	display: none;
	width: 100%; // IE 11 Fix child sizing;
	@include respond-to(lg){
		@include flexbox;
		@include flex-flow(row wrap);
		@include order(1);
	}
}

.aside {
	margin: 5px 0 20px;
    @include flex(1 100%);
	@include flex-flow(column wrap);
	@include flexbox;
	justify-content: center;

	&-header {
		@include flexbox;
    	@include flex(1 auto);
		@extend .bold;
		border-bottom: 1px $border-primary dashed;
		padding-bottom: 4px;
	}
	&-content {
		margin: 10px 0;
		flex-grow: 1 100%;
		@include flexbox;
		@include flex-flow(column wrap);

		p {
			text-align: justify;
			font-size: $fontsize-sm;
			margin:0 0 10px;
			font-style: italic;
		}
	}
}