.btn {
	border-radius: 4px;
	border: 1px solid $border-primary;
	box-shadow: 2px 2px 4px -2px $border-primary; 
	background: linear-gradient(#fff,#ddd);
	padding: 6px 14px;
	@include transition(all 100ms);
	@extend .bold;
	text-shadow: 1px 1px 0 #fff; 
	@include from-root(button) {
		color: $btn-primary;
		outline: none;
		&:focus {
			border: 1px $input-focus solid;
		}
	}
	&:hover:not(.btn-flat) {
		background: linear-gradient(#fff, #e8e8e8);
		box-shadow: 2px 2px 6px 0px $border-primary; 
	}
	&-icon {
		@extend .muted;
		font-size: $btn-icon-lg;
		padding: 0 10px;
		color: $text-primary;
		@include respond-to(sm){
			font-size: $btn-icon-xl;
		}
		&:hover {
			color: $text-dark;
		}
	}
	&-flat {
		background: #fff;
		box-shadow: none;
		font-size: $fontsize-sm;
		@include flexbox;
		justify-content: center;
		align-items: center;
		padding: 6px 0;
		border-radius: 8px;
		font-style: italic;

		& > .fa {
			font-size: $btn-icon-sm;
			margin-right: 4px;
		}
	}
}

.form-control {
	padding: 6px 12px;
	border-radius: 4px;
	border: 1px solid $border-primary;
	outline: none; 
	&:focus {
		border-color: $input-focus;
	}
}