.carousel {
	@include flexbox;
	@include flex-flow(wrap column);
	max-width: 100%; // IE 10 Fix
	.item-info {
		position: absolute;
		@include flexbox;
		@include flex-flow(column wrap);
		left: 0;
		bottom: 0;
		font-style: italic;

		width: 100%; // IE 10 Fix for word wrapping
		& > span {
			max-width:100%; // EDGE Fix for word wrapping
			padding: 10px;
			display: block; // IE 10 word wrapping doesn't support flex and inline-flex;
			@extend %text-nowrap;
			@extend %empty;
		}
		&-title {
			background: $carousel-title-bg;
			font-size: $font-size-lg;
			color: $carousel-title-fg;
			@extend .bold;
		}
		&-desc {
			background: $carousel-desc-bg;
			color: $carousel-desc-fg;
		}
		@include respond-to(md) {
			bottom: 15%;
			& > span {
				align-self: flex-start;
			}
		}
	}
	&-image {
		max-height: 300px;
		overflow: hidden;
		max-width: 100%; // XS Screen IE 10 Fix
		@include flexbox();
		img {
			align-self: flex-start;
			width: 100%;
			max-width: 100%; // IE 10 Fix
		}
	}
	&-item {
		@include flexbox;
		@include flex-flow(column wrap);
		position: relative;
		.license {
			@include flexbox;
			align-self: flex-end;
			position: absolute;
			top: 100%;
			right: 10px;
			padding: 4px;
			@include respond-to((xs,sm),true){
				&:before {
					content: "*";
					margin-right: 2px;
				}
			}
			@include respond-to(md){
				padding: 6px 5px ;
				background: rgba(255,255,255,.6);
				text-shadow: 0 1px 0 #fff;
				border-radius: 6px;
				bottom: 10px;
				top: auto;
				color: $text-dark;
			}
			@extend %empty;
		}
	}
	&-nav {
		@include flexbox;
		justify-content: space-around;
		@extend .unstyled-list;
		max-width: 100%;
		li {
			background: $carousel-nav-bg;
			@include flex-grow(1);
			text-align: center;
			justify-content: center;
			a {
				@include flexbox;
				@include flex-flow(column wrap);
				justify-content: center;
				padding: 10px 0;
				font-size: $font-size-md;
				text-shadow: 0 2px 0 #fff; 
				span {
					display: none;
					text-shadow: none; 
					font-style: italic;
					font-weight: 400;
					font-size: $fontsize-sm;
				}
				@include respond-to(xl) {
					padding: 25px 0 25px 20px;
					text-align: left;
					span {
						@include flexbox;
					}
				}
				
			}
			&:hover {
				background: $carousel-nav-bg-hover;
			}
			&:not(:first-child){
				border-left: #fff 1px solid;
			}
			&:not(:last-child){
				border-right: #D9EFEC 1px solid;
			}
		}
	}
}