.footer {
	border-top: 2px solid $border-primary;
	margin-top: 40px;
	padding: 20px;
	font-size: $fontsize-sm;
    @include flex(0 1 100%);
	@include flexbox;
	@include flex-flow(row nowrap);
	justify-content: space-between;

	&-info {
		margin: auto 0;
	}
	&-nav {
		@extend .unstyled-list;
		@include flexbox;
		margin: 4px 0;
		li {
			padding: 0 6px;
			&:not(:first-child) {
				border-left: 1px solid $border-primary;
			}
			&:first-child {
				padding-left: 0;
			}
		}
	}
	&-social {
		margin: auto 0; 
		@extend .unstyled-list;
		@include flexbox;
	}
}
