.sticky-panel {
    @include flexbox;
    @include flex-flow(column wrap);
    @include flex(1 auto);
}

.nav-main {
    @extend .unstyled-list;
    @include flexbox;
    @include flex-flow(row nowrap);
    justify-content: space-around;
    border-bottom: 2px solid $border-primary;

    @include respond-to((xs,sm,md),true){ //IE 10 fix;
        align-items: center;
    }

    li {
        @include flexbox;
        @include flex-flow(column wrap);
        text-align: center; 
        font-style: italic;
        a {
            display: flex;
            @include flex-flow(column wrap);
            padding: 12px 6px;
            text-shadow: 0 1px 0 #ddd;
            .fa {
                @include respond-to((xs,sm),true){
                    display: none;
                }
                font-size: $btn-icon-md;
                margin-bottom: 4px;
                color: $nav-icon-color;
            }
            &:hover {
                .fa {
                    color: $nav-icon-color-hover;
                }
            }
        }
    }
}

.logo {
    @include flexbox;
    align-items: center;
    margin: 14px 0;
    img {
        margin: auto;
        width: 120px;
    }
}

// >= Small
@include respond-to(sm) {
    .sticky-panel {
        @include flex-flow(row wrap);
        padding-right: $container-padding;
    }
    .nav-main {
        border-bottom: none;
        @include flex-grow(1);
        @include order(1);
        margin: auto 0;
    }
}
// >= Medium
@include respond-to(md) {
    .nav-main {
        justify-content: flex-end;
        li {
            margin: 0 15px;
        }
    }
}

// >= Large
@include respond-to(lg) {
    .sticky-panel {
     max-width: $sticky-panel-width;
     @include flex(1 auto);
     @include flex-flow(row wrap);
     align-content: flex-start;
    }

    .nav-main {
        @include flex-flow(column wrap);
        justify-content: flex-start;
        margin-bottom: 60px;
        li {
            margin: 0;
            @include flex-flow(row wrap);
            @include flexbox;
            align-items: flex-start;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            
            a {
                width: 100%;
                @include flex-flow(row wrap);
                align-items: center;
                .fa {
                    width: 42px;
                    @include transition(width 160ms ease-out);
                }
                &:hover {
                    .fa {
                        width: 50px;
                    }
                }
            }
        }
    }
    .logo {
        align-self: flex-start;
    }
}