.panel {
    border-top: 1px dashed $border-primary;
    border-bottom: 1px dashed $border-primary;
    padding: 10px 20px;
    margin: 20px 0;
    @include flexbox;
    @include flex-flow(wrap row);
    align-items: center;
    & > &-info {
        @include flex(1 0px);
        padding-right: 10px;
        margin: 0;
    }
    & > &-icon {
        @include flex(0 auto);
    	padding-right: 14px;
    	font-size: $btn-icon-xl;
    }
    

    // Panels override >>
    &-subscribe {
		.subscribe-form {
            @include flexbox;
            @include flex(1 100%);
            @include respond-to((xs,sm),true){
                margin-top: 10px;
            }
			@include respond-to(md){
                @include flex(0 auto);
			}
            .form-control {
                margin-right: 10px;
                @include flex(4 auto);
            }
	    }
    }
}