@import 'normalize';
* {
	box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: #333;
    overflow: hidden;
}
.container {
	// cursor: none;
	display: flex;
	justify-content: center;
}

#canvas {
    background: #111;
	border-top: none;
	border-bottom: none;
	display: flex-item;
    //width: 1000px;
    // height: 100%;
    // border: 10px red solid;
}