// @import "common/styles/mixins.scss";
// @import "common/styles/animation.scss";

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

@-webkit-keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
.spinner {
	display: inline-block;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}
.badge {
	margin-bottom: 2px;
	border-radius: 4px;
	&-outline {
		border: 1px solid #777;
		color: #777;
		background: none;
	}
}
.panel {
	&-title {
		.panel-header {
			color: #55afff;
			margin-right: 10px;
			font-style: italic;
			font-weight: bold;
		}
	}
	&-body {
		& > p {
			text-indent: 16px;
		}
	}
	&-course {
		&.ng-leave {
			transition: 200ms linear opacity;
			opacity: 1;
		}
		&.ng-leave-active {
			opacity: 0;
		}
	}
}
.page {
	&-loader {
		transition: 140ms linear opacity;
		&.ng-enter {
			opacity: 0;
		}
		&.ng-enter-active {
			opacity: 1;
		}
		&.ng-leave {
			opacity: 1;
		}
		&.ng-leave-active {
			opacity: 0;
		}
		position: fixed;
		top: 40px;
		right: 40px;
		background: #eee;
		padding: 6px 12px;
		border-radius: 4px;
		border: 1px solid #ddd;
		color: #666;
		&:before {
			content: '\f021';
			font-family: "FontAwesome";
			@extend .spinner;
		}
	}
	&-header {
		padding: 20px;
		border-bottom: none;
		.logo {
			float: left;
			margin-right: 20px;
			&-title {
				margin-top: 38px;
			}
			img {
				max-width: 110px;
			}
		}
		&-right {
			float: right;
			padding: 26px;
			padding-right: 0;
			border-radius: 4px;
			height: 100%;
		}
	}
}
.form {
	// background: #fff;
	// transition: 200ms linear all;
	// &.ng-submitted.ng-valid {
	// 	background-color:#eeffee;
	// }
	// &.ng-submitted.ng-invalid {
	// 	background-color:#ffeeee;
	// }
	.required {
		&:before {
			content: '*';
			padding-right: 4px;
		}
	}
}

.auth-panel {
	transition: 120ms ease all;
	&.ng-enter {
		transform: translateX(-10px);
		opacity: 0;
	}
	&.ng-enter-active {
		transform: translateX(0);
		opacity: 1;
	}
	&.ng-leave {
		opacity: 1;
		transform: translateX(0);
	}
	&.ng-leave-active {
		opacity: 0;
		transform: translateX(-40px);
	}

	&-login {
		display: block;
		text-align: right;
		color: #999;
		min-width: 160px;
		font-size: 18px;
	}
}

.navbar-form {
	padding: 0;
}
.footer {
	position: absolute;
	bottom: 0;
	height: 40px;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	margin: 10px 0;
	border-radius: 4px;
}


.footer .text-muted {
	margin: 10px 0;
	text-align: center;
}

.btn-group {
	&-vertical {
		.btn {
			margin: 8px 0;
			width: 100%;
		}
	}
}

.form {
	&-horizontal .control-label-left {
		text-align: left;
	}
	&-control-inline {
		display: inline-block;
		width: auto;
	}
}
.inline-helper {
	margin-left: 20px;
}



// =========
// Overrides
// =========
.breadcrumb > li {
	& + li:before {
		content: "\f105";
		font-family: FontAwesome;
	}
}

// injector
// endinjector
