<!doctype html>
<html class="no-js" ng-app="app">
<head>
	<meta charset="utf-8">
	<title page-title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=no,initial-scale=1" />
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css({.tmp/serve,src}) styles/vendor.css -->
	<link rel="stylesheet" href="app/vendor.css">
	<!-- bower:css -->
	<link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
	<link rel="stylesheet" href="../bower_components/components-font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css({.tmp/serve,src}) styles/app.css -->
	<!-- inject:css -->
	<link rel="stylesheet" href="app/index.css">
	<!-- endinject -->
	<!-- endbuild -->
</head>
<body ng-controller="mainCtrl as vm">
	<!--[if lt IE 9]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div class="container">
		<div class="page-header clearfix">
			<div class="page-header-right auth-panel" ng-if="vm.authorizedUser">
				<span class="auth-panel-login">{{ vm.authorizedUser.login }}</span>
				<button class="btn btn-sm btn-danger btn-block" ng-click="vm.logout()">Sign out</button>
			</div>
			<a class="logo" href="#">
				<img alt="Brand" src="/images/logo.png" class="img-responsive">
			</a>
			<h1 class="logo-title">Logo</h1>
		</div>
		<breadcrumbs></breadcrumbs>

		<div class="page-content">
			<div ui-view></div>
		</div>
		<!--
		<div class="page-footer">
			<div ng-include="'app/common/partials/footer/footer.html'"></div>
		</div>-->
		<footer class="footer">
			<div class="container">
			<p class="text-muted">Copyright &copy; 2016</p>
			</div>
		</footer>
	</div>

	<!-- build:js(src) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/lodash/lodash.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-animate/angular-animate.js"></script>
	<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="../bower_components/angular-touch/angular-touch.js"></script>
	<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="../bower_components/angular-resource/angular-resource.js"></script>
	<script src="../bower_components/angular-mocks/angular-mocks.js"></script>
	<script src="../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
	<script src="../bower_components/angular-messages/angular-messages.js"></script>
	<script src="../bower_components/moment/moment.js"></script>
	<script src="../bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
	<script src="../bower_components/angular-ui-mask/dist/mask.js"></script>
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
	<!-- inject:js -->
	<script src="app/app.js"></script>
	<script src="app/pages/login/login.controller.js"></script>
	<script src="app/pages/courses/courses.controller.js"></script>
	<script src="app/pages/shell.controller.js"></script>
	<script src="app/modals/modal.controller.js"></script>
	<script src="app/main/main.controller.js"></script>
	<script src="app/settings.js"></script>
	<script src="app/run.js"></script>
	<script src="app/routes.js"></script>
	<script src="app/enums.js"></script>
	<script src="app/pages/courses/edit-course/edit-course.controller.js"></script>
	<script src="app/pages/courses/course-list/course-list.controller.js"></script>
	<script src="app/common/common.module.js"></script>
	<script src="app/common/services/todo-api/todo-api.service.js"></script>
	<script src="app/common/services/title-provider/title.service.js"></script>
	<script src="app/common/services/spinner/spinner.service.js"></script>
	<script src="app/common/services/recursive/recursive.service.js"></script>
	<script src="app/common/services/custom-modal/custom-modal.service.js"></script>
	<script src="app/common/services/course-service/course.service.js"></script>
	<script src="app/common/services/course-service/course.mock.js"></script>
	<script src="app/common/services/authors-service/authors.service.js"></script>
	<script src="app/common/services/authors-service/authors.mock.js"></script>
	<script src="app/common/services/auth-service/auth.service.js"></script>
	<script src="app/common/services/auth-service/auth.mock.js"></script>
	<script src="app/common/services/auth-service/auth.interceptor.js"></script>
	<script src="app/common/directives/validate/validate.directive.js"></script>
	<script src="app/common/directives/strict-date/strict-date.directive.js"></script>
	<script src="app/common/directives/page-title/page-title.directive.js"></script>
	<script src="app/common/directives/input-duration/input-duration.directive.js"></script>
	<script src="app/common/directives/input-date/input-date.directive.js"></script>
	<script src="app/common/directives/disabled-route/disabled-route.directive.js"></script>
	<script src="app/common/directives/course-list/course-list.directive.js"></script>
	<script src="app/common/directives/connected-list/connected-list.directive.js"></script>
	<script src="app/common/directives/concat-list/concat-list.directive.js"></script>
	<script src="app/common/directives/breadcrumbs/breadcrumbs.directive.js"></script>
	<script src="app/common/directives/accessible-form/accessible-form.directive.js"></script>
	<script src="app/common/filters/time/time.filter.js"></script>
	<script src="app/common/filters/search/search.filter.js"></script>
	<script src="app/common/filters/normalize-title/normalize-title.filter.js"></script>
	<script src="app/common/utils/httpExtensions.js"></script>
	<script src="app/common/mocks/backend.module.js"></script>
	<script src="app/common/mocks/backend.routes.js"></script>
	<script src="app/common/urls.js"></script>
	<script src="app/common/config.js"></script>
	<script src="app/config.js"></script>
	<!-- endinject -->
	<!-- inject:partials -->
	<!-- angular templates will be automatically converted in js and inserted here -->
	<!-- endinject -->
	<!-- endbuild -->

</body>
</html>
