<footer class="footer responsive-footer">
    <div class="uui-promo-footer">
        <div class="footer-logo-copyright">
            <div class="epam-logo">
                <img src="/images/buffer.svg" alt="Book Store" />
            </div>
            <p class="copyright">© 2017 Book Store</p>
        </div>
        <!--about-->
        <div class="footer-navigation footer-navigation-top">
            <h6 class="white">О компании</h6>
            <ul class="uui-footer-navigation uui-unordered-list footer-navigation-vertical">
                <li><a href="#">Реквизиты</a></li>
                <li><a href="#">О компании</a></li>
            </ul>
        </div>
        <!--help-->
        <div class="footer-navigation footer-navigation-top">
            <h6 class="white">Помощь</h6>
            <ul class="uui-footer-navigation uui-unordered-list">
                <li><a href="#">Как сделать заказ</a></li>
            </ul>
        </div>
        <!--phone-->
        <div class="footer-navigation footer-navigation-top">
            <h6 class="white">Горячая линия</h6>
            <ul class="uui-footer-navigation uui-unordered-list">
                <li class="bold">8-800-700-50-50</li>
            </ul>
        </div>
        <!--info-->
        <div class="footer-navigation footer-navigation-top">
            <h6 class="white">Информация</h6>
            <ul class="uui-footer-navigation uui-unordered-list footer-navigation-vertical">
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Оплата</a></li>
            </ul>
        </div>

        <div class="footer-icon-navigation">
            <ul class="uui-footer-navigation icon-navigation">
                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</footer>