@import "common/styles/mixins.scss";
[ui-view].ng-enter {
	transition: 300ms linear all;
	opacity: 0;
}
[ui-view].ng-enter-active {
	opacity: 1;
}


.btn.ng-animate {
	transition: 200ms ease-out all;
}

.btn.ng-enter {
	opacity: 0;
	transform: translateX(-5px); 
}
.btn.ng-enter.ng-enter-active {
	opacity: 1;
	transform: translateX(0);
}

.btn.ng-leave {
	opacity: 0;
}
.btn.ng-leave.ng-leave-active {
	position: absolute;
	right: 0;
}

.category-list li {
	transition: 200ms linear all;
}
.category-list li.ng-leave{
	opacity: 1;
}
.category-list li.ng-leave-active {
	opacity: 0;
}

.category-list li.ng-enter {
	opacity: 0;
}

.category-list li.ng-enter-active {
	opacity: 1;
}

.todo.ng-enter {
	transition: 400ms ease-out all;
	opacity: 0;
	transform: translateX(-20px);
}
.todo.ng-enter-active {
	opacity: 1;
	transform: translateX(0);
}