<div class="alert alert-danger" ng-if="!vm.courses.length" role="alert">No courses were found</div>
<div class="panel panel-default panel-course" ng-repeat="course in vm.courses">
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-10">
				<div class="panel-title">
					<a ui-sref="shell.courses.edit({id: course.id})" class="panel-header">{{course.title}}</a>
					<span class="text-muted badge badge-outline">{{course.duration | time}}</span>
					<span class="pull-right badge">{{course.date | date : 'dd.MM.yyyy'}}</span>
				</div>
				<p>{{course.description}}</p>
				<small class="text-muted" concat-list="{{course.authors}}" by="name" separator=", "></small>
			</div>
			<div class="col-xs-2">
				<a class="btn btn-block btn-sm btn-info" ui-sref="shell.courses.edit({id: course.id})">Edit</a>
				<button class="btn btn-block btn-sm btn-danger" ng-click="vm.deleteCourse(course)">Delete</button>
			</div>
		</div>
	</div>
</div>
