<nav class="navbar navbar-default">
    <div class="col-xs-12">
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." ng-model='vm.searchTerm'>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="vm.search(vm.searchTerm)"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </form>
        <a href="#" class="btn btn-success navbar-btn pull-right" ui-sref="shell.courses.edit()"><i class="fa fa-plus"></i> Add Course</a>
    </div>
</nav>

<course-list courses="vm.courses" on-delete="vm.onDelete(id)"></course-list>