﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/scripts/modernizr-2.8.3.js"></script>
    <meta name="description" content="The description of my page" />
</head>
<body>
    @Html.Partial("_NavigationPartial")
    <div id="wrap">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
    <hr />
    @Html.Partial("Footer")
    @RenderSection("Modal", required: false)
    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/scripts/pages/PageModule.js"></script>
</body>
</html>