﻿@{
    ViewBag.Title = "Page Not Found";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>404 Page Not Found</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    404 Page Not Found
                </div>
                <div class="panel-body">
                    <div class="well">@ViewBag.Message</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
