<ul class="category-list">
	<li ng-repeat="category in vm.categories | categoryTree : vm.parentCategory track by category.id" category-item="{{category.id}}">
		<div class="category-item">
			<button class="tree tree-closed" ng-class="{'tree-empty' : !vm.hasChilds(category.id)}"></button>
			<a disable-route="{{vm.editor}}" ui-sref="shell.todos.filter({id: category.id})" ui-sref-active="active" class="category-title">{{category.title | normalizeTitle}}</a> 
			
			<div ng-switch on="vm.editor" class="category-buttons">
				<button ng-switch-when="false" class="btn btn-sm btn-left"><i class="fa fa-pencil" ng-click="vm.editCategory(category.id)"></i></button>
				<button ng-switch-when="false" class="btn btn-sm" ng-click="vm.deleteCategory(category.id)"><i class="fa fa-trash-o"></i></button>
				<button ng-switch-when="false" class="btn btn-sm" ng-click="vm.addSubGroup(category.id)"><i class="fa fa-plus"></i></button>
				<button ng-switch-when="true" class="btn btn-sm" ng-click="vm.pullTodo({{category.id}})" ng-disabled="vm.active == category.id"><i class="fa fa-chain"></i></button>
			</div>
			
			
		</div>
		<category-list ng-if="vm.hasChilds(category.id)" active="{{vm.active}}" categories="vm.categories" parent-category="{{category.id}}" editor="vm.editor" class="closed"></category-list>
	</li>
</ul>