﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

<div class="row">
    <div class="media-panel col-md-12">
        <div class="media-icon">
            <i class="fa fa-star"></i>
        </div>
        <div class="media-body">
            <span class="media-header">

                @foreach (var node in Model)
                {
                    if (node.Parent == null)
                    {
                        continue;
                    }
                    @Html.DisplayFor(m => node);

                    if (node != Model.Last())
                    {
                        <text> &gt; </text>
                    }
                }


            </span>
            <span class="media-footer">
                @if (Model.Count() != 0)
                {
                    @Model.Last().Description
                }
            </span>
        </div>
    </div>
</div>

