html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 60px; }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.spinner, .page-loader:before {
  display: inline-block;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.badge {
  margin-bottom: 2px;
  border-radius: 4px; }
  .badge-outline {
    border: 1px solid #777;
    color: #777;
    background: none; }

.panel-title .panel-header {
  color: #55afff;
  margin-right: 10px;
  font-style: italic;
  font-weight: bold; }

.panel-body > p {
  text-indent: 16px; }

.panel-course.ng-leave {
  -webkit-transition: 200ms linear opacity;
          transition: 200ms linear opacity;
  opacity: 1; }

.panel-course.ng-leave-active {
  opacity: 0; }

.page-loader {
  -webkit-transition: 140ms linear opacity;
          transition: 140ms linear opacity;
  position: fixed;
  top: 40px;
  right: 40px;
  background: #eee;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #666; }
  .page-loader.ng-enter {
    opacity: 0; }
  .page-loader.ng-enter-active {
    opacity: 1; }
  .page-loader.ng-leave {
    opacity: 1; }
  .page-loader.ng-leave-active {
    opacity: 0; }
  .page-loader:before {
    content: '\f021';
    font-family: "FontAwesome"; }

.page-header {
  padding: 20px;
  border-bottom: none; }
  .page-header .logo {
    float: left;
    margin-right: 20px; }
    .page-header .logo-title {
      margin-top: 38px; }
    .page-header .logo img {
      max-width: 110px; }
  .page-header-right {
    float: right;
    padding: 26px;
    padding-right: 0;
    border-radius: 4px;
    height: 100%; }

.form .required:before {
  content: '*';
  padding-right: 4px; }

.auth-panel {
  -webkit-transition: 120ms ease all;
          transition: 120ms ease all; }
  .auth-panel.ng-enter {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0; }
  .auth-panel.ng-enter-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  .auth-panel.ng-leave {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .auth-panel.ng-leave-active {
    opacity: 0;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px); }
  .auth-panel-login {
    display: block;
    text-align: right;
    color: #999;
    min-width: 160px;
    font-size: 18px; }

.navbar-form {
  padding: 0; }

.footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  margin: 10px 0;
  border-radius: 4px; }

.footer .text-muted {
  margin: 10px 0;
  text-align: center; }

.btn-group-vertical .btn {
  margin: 8px 0;
  width: 100%; }

.form-horizontal .control-label-left {
  text-align: left; }

.form-control-inline {
  display: inline-block;
  width: auto; }

.inline-helper {
  margin-left: 20px; }

.breadcrumb > li + li:before {
  content: "\f105";
  font-family: FontAwesome; }

[ui-view].ng-enter {
  -webkit-transition: 300ms linear all;
          transition: 300ms linear all;
  opacity: 0; }

[ui-view].ng-enter-active {
  opacity: 1; }

.btn.ng-animate {
  -webkit-transition: 200ms ease-out all;
          transition: 200ms ease-out all; }

.btn.ng-enter {
  opacity: 0;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px); }

.btn.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.btn.ng-leave {
  opacity: 0; }

.btn.ng-leave.ng-leave-active {
  position: absolute;
  right: 0; }

.category-list li {
  -webkit-transition: 200ms linear all;
          transition: 200ms linear all; }

.category-list li.ng-leave {
  opacity: 1; }

.category-list li.ng-leave-active {
  opacity: 0; }

.category-list li.ng-enter {
  opacity: 0; }

.category-list li.ng-enter-active {
  opacity: 1; }

.todo.ng-enter {
  -webkit-transition: 400ms ease-out all;
          transition: 400ms ease-out all;
  opacity: 0;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px); }

.todo.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.plate {
  background-color: #FFFFFF;
  margin: 10px 0;
  font-size: 16px;
  box-shadow: 2px 2px 2px 0px #D7D7D7; }
  .plate .plate-header {
    padding: 8px 10px;
    height: 50px;
    border: 1px solid #D7D7D7; }
    .plate .plate-header:hover {
      background-color: #F2F2F2; }
    .plate .plate-header a {
      font-family: 'Arial Bold', Arial;
      font-size: 24px;
      font-weight: 700;
      text-decoration: none;
      color: #333333;
      display: block; }
  .plate .plate-body {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #D7D7D7; }
    .plate .plate-body:hover {
      border: 2px solid #CB012F;
      padding: 9px; }
  .plate .plate-extra {
    overflow: hidden;
    border: 1px solid #D7D7D7;
    border-top: none;
    border-bottom: none; }
    .plate .plate-extra .wrapper {
      padding: 10px; }
    .plate .plate-extra .bottom-bordered {
      border-bottom: 1px solid #CCCCCC;
      margin-bottom: 10px;
      padding-bottom: 10px; }
  .plate .plate-footer .btn {
    padding: 8px; }
    @media (max-width: 768px) {
      .plate .plate-footer .btn {
        text-align: left;
        display: block;
        margin: 0;
        border-top: 0;
        width: 100%; } }
