<div class="form-group" ng-if="!vm.isEditorMode">
	<input type="text" ng-keyup="$event.keyCode == 13 && vm.model.todoTitle.length && vm.addTask(vm.model.todoTitle)" ng-model="vm.model.todoTitle" class="form-control" placeholder="New task">
	<button ng-click="vm.addTask(vm.model.todoTitle)" ng-disabled="!vm.model.todoTitle" class="btn">Add</button>
</div>
<todo-list todos="vm.todos" on-edit="vm.editor(id)" is-editor="{{vm.isEditorMode}}">
	<todo-editor on-save="vm.saveEditor(task)" on-close="vm.closeEditor()" active-category="vm.activeCategory" active-task="vm.activeTask"></todo-editor>
</todo-list>
