<div class="todos-container">
	<ul ng-if="!vm.isEditor">
		<li ng-if="!vm.todos.length">
			<span class="alert alert-info">No tasks were found</span>
		</li>
		<li ng-repeat="todo in vm.todos track by todo.id" class="todo">
			<i class="fa todo-done" ng-class="{'fa-check-square-o': todo.done, 'fa-square-o': !todo.done}"></i>
			<h3 class="todo-title">{{todo.title | normalizeTitle}}</h3>
			<div class="todo-actions">
				<button class="btn btn-sm" ng-click="vm.openEditor(todo.id)">
					<i class="fa fa-pencil"></i>
				</button>
			</div>
		</li>
	</ul>
	<div ng-if="vm.isEditor" ng-transclude></div>
</div>