//------------------------------------//
//  Mixins
//------------------------------------//

@mixin clearfix(){
	zoom: 1; /* IE FIX*/
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin transition($term) {
	-webkit-transition: #{$term};
			transition: #{$term};
}
@mixin animation($term) {
	-webkit-animation: #{$term};
			animation: #{$term};
}

/* Link at root element*/
@mixin from-root($element-name) {
	@at-root #{selector-append($element-name, &)} {
		@content
	}
	
}


@mixin vendor($property, $value) {
	@each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
		#{$vendor}#{$property}: #{$value};
	}
}


//------------------------------------//
//  Grid build mixin
//------------------------------------//

@mixin grid-setup($number: $column-number) {
    @each $breakpoint in (sm,md,lg) {
        @include respond-to($breakpoint) {
            @for $i from 1 through $number {
                .col-#{$breakpoint}-#{$i} {
                    width: 100% / $number * $i;
                    position: relative;
                    padding: 4px $column-padding;
                    float: left;
                }
                $width-of-a-column: ( 100% - $gutters * ($number - 1) ) / $number;
                .gutters > .col-#{$breakpoint}-#{$i} {
                    width: $width-of-a-column * $i + $gutters * ($i - 1);
                    margin-left: $gutters;

                    &:first-child {
                        margin-left: 0;
                    }
                }
                
                .col-#{$breakpoint}-offset-#{$i} {
                    margin-left: ( 100% / $number  * $i);
                }
                .col-#{$breakpoint}-push-#{$i} {
                    left: ( 100% / $number  * $i);
                }
                
                .col-#{$breakpoint}-pull-#{$i} {
                    right: ( 100% / $number  * $i);
                }
                    
            }
        }
    }
    
}

//------------------------------------//
//  Rounded gradient for ie9
//------------------------------------//

@mixin linear-gradient-alt($offset,$softness,$color1,$color2,$colorHover1: false,$colorHover2: false, $horizontal: false) {
	display: block;
	background: $color1;
	@if $horizontal{
		@include vendor(box-shadow,inset #{$offset}px 0 #{$softness}px #{$offset/-2}px $color2);
	}
	@else {
		@include vendor(box-shadow,inset 0px #{$offset}px #{$softness}px #{$offset/-2}px $color2);
	}
	@if $colorHover1 and $colorHover2 {
		&:hover{
			background: #{$colorHover1};
			@if $horizontal {
				@include vendor(box-shadow, inset #{$offset}px 0 #{$softness}px #{$offset/-2}px $colorHover2);
			}
			@else {
				@include vendor(box-shadow, inset 0px #{$offset}px #{$softness}px #{$offset/-2}px $colorHover2);
			}
		}
	}
}