//------------------------------------//
//  Sizing
//------------------------------------//

$container-padding: 15px;

//------------------------------------//
//  Typography
//------------------------------------//
$aside-width: 174px;
$fontsize-base: 14px;
$fontsize-xlg: 28px;
$fontsize-lg: 20px;
$fontsize-md: 16px;
$font-main: Arial, Sans-Serif;

//------------------------------------//
//  Responsive
//------------------------------------//

$breakpoints: (
    tablet: 750px,
    desktop: 1200px
);

$containers: (
	sm: 100%,
    md: map-get($breakpoints, tablet) - $aside-width -50,
    lg: map-get($breakpoints, desktop) - $aside-width
);
//------------------------------------//
//  Colors
//------------------------------------//
$body-bg: #F2F2F2;

$text-danger: #C9002E;
$text-danger-alt: #D84667;

$color-article-content: #333;
$color-dark: #444;
$color-muted: #888;

$color-badge-fg: #f5f5f5;
$color-badge-bg-muted: #808080;

$color-tabs-bg: #D7D7D7;
$color-tabs-bg-hover: #F2F2F2;

$border-color: #ccc;


$aside-ul-bg: $color-article-content;
$aside-link: #999999;
$aside-link-border: #000;

//------------------------------------//
//  GRID System
//------------------------------------//

$column-padding: 2px;
$grid-columns: 12;
$gutters: 2%;

//------------------------------------//
//  Other
//------------------------------------//
$button-w-pad: 20px;
$button-h-pad: 10px;

$icons-folder: "../images/icons";