﻿<div class="page-header" page-title></div>

<div class="page-content">
	<div ui-view></div>
</div>

<div class="page-footer">
	<div ng-include="'app/common/partials/footer/footer.html'"></div>
</div>