.uui-header-tools, .responsive-header-tools {
	.button-links {
		min-width: 240px;
		right: 0;
		position: absolute;
		background: #F5F5F5;
	}

	& > li > a {
		color: #999;
		&:hover {
			color: #fff;
		}
	}
}
.responsive-header-tools .button-links {
	top: 40px;
}


header .uui-header .uui-responsive-header .responsive-header .responsive-header-tools>li>a{
	line-height: 0;
}
header .uui-header .uui-responsive-header .responsive-header .responsive-header-tools>li.responsive-header-icon>a{
	line-height: 48px;
}

header .uui-header .uui-responsive-header .responsive-header .responsive-header-tools>li.responsive-header-icon>a i {
	margin-top:0;
}
.responsive-menu-custom{
		list-style: none;
		min-width: 240px;
		right: 0;
		position: absolute;
		background-color: #F5F5F5;
		& > li{
		padding: 12px 18px;
		color: #999;
		border-bottom: 1px solid #ddd;
		&:hover {
	background-color: #ddd;
    color: #464547;
		}
		}
	& > li > a {
		color: #666;
    font-size: 16px;

	}
}

.search-box{
	height: 42px;
    background: #ffffff;
    line-height: 42px;
    overflow: hidden;
    padding: 0 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.responsive-menu-custom .search-box:hover {
	background-color: #fff;
	}
.search-box .search-string {
    border: none;
    font-size: 15px;
    font-family: 'Source Sans Pro',Arial,sans-serif;
    color: #999999;
    display: inline-block;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-left: 5px;
}

.menu-arrow-responsive{
	position: absolute;
    top: -6px;
    right: 50%;
    margin-right: -100px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #f5f5f5 transparent;
}

header .uui-header .uui-header-tools>li.uui-global-search .search-field .uui-search {
	&:focus {
		width: 260px;
	}
}
@media screen and (max-width: 1024px) {
    header .uui-header.breadcrumb-header .uui-navigation.breadcrumb-main-nav {
            display: none;
    }
}

header .uui-header .uui-navigation>li>a {
    font-size: 12px;
}

// @media screen and (max-width: 1200px) {
//     header .uui-header .uui-header-tools>li:not(:last-child) {
//             display: none;
//     }
// }

// @media screen and (max-width: 1400px) {
//     header .uui-header.sidebar-header nav .brand-logo   {
//             display: none;
//     }
// }
header .uui-header.breadcrumb-header .uui-navigation.breadcrumb-main-nav>li:hover:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #333;
    right: -8px;
    top: 50%;
    margin-top: -8px;
}

header .uui-header.breadcrumb-header .uui-navigation.breadcrumb-main-nav>li.active-nav {
    position: relative;
    background: #333;
    cursor: pointer;
    width: auto;
}

header .uui-header.breadcrumb-header .uui-navigation.breadcrumb-main-nav>li:hover:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #464547;
    top: 50%;
    margin-top: -8px;
}
header .uui-header.breadcrumb-header .uui-navigation.breadcrumb-main-nav>li:nth-child(2):hover:after {
    border-color: transparent transparent transparent #333;
}