﻿////
/// Mixins
/// @group Mixins
////

@mixin transition($term) {
  -webkit-transition: #{$term};
      transition: #{$term};
}
@mixin animation($term) {
  -webkit-animation: #{$term};
      animation: #{$term};
}

@mixin vendor($property, $value) {
	@each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
		#{$vendor}#{$property}: #{$value};
	}
}

@mixin from-root($element-name) {
	@at-root #{selector-append($element-name, &)} {
		@content
	}
}

//=========
// Flexbox
//=========


@mixin flexbox($flex: flex) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-#{$flex}box;
  display: -webkit-#{$flex};
  display: $flex;
}


@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin flex-grow($int: 0) {
  -webkit-box-flex: $int;
  -webkit-flex-grow: $int;
  -moz-flex-grow: $int;
  -ms-flex-positive: $int;
  flex-grow: $int;
}

@mixin flex-flow($values: (row nowrap)) {
  -webkit-flex-flow: $values;
  -moz-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

