//------------------------------------//
//  Typography
//------------------------------------//

.bold {
	font-weight: 600;
}

.text {
	&-danger {
		color: $text-danger;
	}
	&-muted {
		color: #999;
	}
}

.font {
	&-lg {
		font-size: $fontsize-lg;
	}
	&-md {
		font-size: $fontsize-md;
	}
}

.underline {
	text-decoration: underline;
}

.small {
	font-size: .7em;
}

.muted {
	color: $color-muted;
}

.block {
	display: block;
}

.uppercase {
	text-transform: uppercase;
}