﻿@model IEnumerable<UsersAwardsApp.PL.Models.AwardViewModel>

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="award-thumbnail">
            <a href="@Url.Action("GetAwardModal","Awards",new { awardId= item.Id, userId = ViewBag.UserId })" class="thumbnail" data-toggle="tooltip" data-placement="top" title="@item.Title" data-load-award="@item.Id">
                <img src="@Url.Action("GetAwardImage",  new { id = item.Id, placeHolder = "~/Content/img/no-image.jpg" })" alt="@item.Title" class="" />
            </a>
        </div>

    }
}
else
{
    <div>User has no awards</div>
}

