﻿@model UsersAwardsApp.PL.Models.AwardViewModel

<div class="row award-modal">
    <div class="col-md-3">
        <img src="@Url.Action("GetAwardImage",  new { id = Model.Id, placeHolder = "~/Content/img/no-image.jpg" })" alt="@Model.Title" class="thumbnail" />
    </div>
    <div class="col-md-9">
        <div class="award-modal-title">
            <a href="@Url.Action("AwardInfo","Awards", new { id = Model.Id })" class="text-bold">
                @Model.Title
            </a>
        </div>

        <div class="award-modal-desc">
            @Html.DisplayText("Description")
        </div>
        <hr />
        <div class="award-modal-desc">
            <a href="@Url.Action("CancelAward","Awards",new { awardId = Model.Id, userId = ViewBag.UserId })" class="pull-right">Remove award from user</a>
            <b><a href="@Url.Action("UsersByAward", "Users",new { id = Model.Id })">@Model.UsersCount</a> users have this award.</b>
        </div>
    </div>
</div>
