﻿@model UsersAwardsApp.PL.Models.GiveAwardViewModel
@{
    Layout = "~/Views/Shared/_AwardsLayout.cshtml";
    ViewBag.Title = string.Format("Cancel rewarding for {0}", Model.User.Name) ;
}

@if (ViewBag.HasAward)
{
    <div class="row">
            <div class="panel panel-danger">
                <div class="panel-heading">Confirm action</div>
                <div class="panel-body">
                    Are you sure want to remove award <a href="@Url.Action("AwardInfo","Awards", new { id = Model.Award.Id})" class="text-primary text-bold">@Model.Award.Title</a> from user <a href="@Url.Action("UserPage","Users",new { userId = Model.User.Id})" class="text-primary text-bold">@Model.User.Name</a>?
                </div>
                <div class="panel-footer clearfix">
                    <div class="btn-group pull-right">
                        @using (Html.BeginForm())
                        {
                            @Html.Hidden("userId", Model.User.Id)
                            @Html.Hidden("awardId", Model.Award.Id)
                            <a href="@Url.Action("Index","Users")" class="btn btn-sm btn-default">Cancel</a>
                            <button type="submit" class="btn btn-sm btn-success">Remove award</button>
                        }
                    </div>
                </div>
            </div>
    </div>
}
else
{
    <div class="row">
            <div class="panel panel-danger">
                <div class="panel-heading">Error</div>
                <div class="panel-body">
                    User <a href="@Url.Action("UserPage","Users",new { id = Model.User.Id})">@Model.User.Name</a> has no award
                    <a href="@Url.Action("AwardInfo","Awards", new { id = Model.Award.Id})" class="text-success text-bold">@Model.Award.Title</a>
                </div>
                <div class="panel-footer clearfix">
                    <div class="btn-group pull-right">
                        <a href="@Url.Action("Index","Users")" class="btn btn-sm btn-default">Back</a>
                    </div>
                </div>
            </div>
    </div>
}