﻿@model UsersAwardsApp.PL.Models.CreateAwardViewModel

@{
    Layout = "~/Views/Shared/_AwardsLayout.cshtml";
    ViewBag.Title = "Create new award";
}

<div class="row">

    <div class="form-container col-md-6 col-md-offset-3 no-padding">
        <div class="form-header">
            <div class="form-title">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
        <div class="form-content">
            @using (Html.BeginForm("CreateAward", "Awards", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "label validation-error" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Description, 3, 0, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "label validation-error" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">

                            @Html.FileFor(model => model.Image, "form-control")
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "label validation-error" })
                        </div>
                    </div>

                    

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-6">
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group">
                                    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
                                </div>
                                <div class="btn-group">
                                    <input type="submit" value="Create award" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}