﻿@model UsersAwardsApp.PL.Models.AwardViewModel

@{
    Layout = "~/Views/Shared/_AwardsLayout.cshtml";
    ViewBag.Title = string.Format("Edit award \"{0}\"", Model.Title);
}

<div class="row">

    <div class="form-container col-md-6 col-md-offset-3 no-padding">
        <div class="form-header">
            <div class="form-title">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
        <div class="form-content">
            @using (Html.BeginForm("Edit", "Awards", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Id)

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = Html.NameFor(x => x.Title) } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "label validation-error" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Description, 3, 0, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "label validation-error" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="profile-image">
                                        <img src="@Url.Action("GetAwardImage",  new { id = Model.Id, placeHolder = "~/Content/img/no-image.jpg" })" alt="" class="profile-image-content" />
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <input type="file" name="file" id="file" class="form-control" />
                                </div>
                            </div>


                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "label validation-error" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group">
                                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
                            </div>
                            <div class="btn-group">
                                <input type="submit" value="Save changes" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
