<div class="row">
	<div class="col-xs-8 col-xs-push-2">
		<form class="form-horizontal" name="courseForm" ng-submit="vm.submit(vm.course, courseForm)" novalidate>
			<div class="form-group">
				<label for="inputTitle" class="col-sm-2 control-label">Course&nbsp;title</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputTitle" name="courseTitle" placeholder="Title" ng-model="vm.course.title" required>
				</div>
				<div ng-messages="courseForm.courseTitle.$error" role="alert" ng-if="courseForm.courseTitle.$touched">
					<div ng-message="required">Required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="inputDesc" class="col-sm-2 control-label">Description</label>
				<div class="col-sm-10">
					<textarea id="" cols="30" rows="10" class="form-control" id="inputDesc" placeholder="Description" ng-model="vm.course.description" name="desc" required></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="inputDate" class="col-sm-2 control-label">Date</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputDate" placeholder="Date" name="date" ng-model="vm.course.date" input-date="dd.MM.yyyy" ui-mask="99.99.9999" ui-mask-placeholder ui-mask-placeholder-char="_" required>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputDuration" class="col-sm-2 control-label">Duration</label>
				<div class="col-sm-10">
					<input type="text" validate="time" class="form-control form-control-inline" id="inputDuration" placeholder="Duration" name="duration" ng-model="vm.course.duration" input-duration required>
				</div>
			</div>
			<div class="form-group">
				<label for="inputAuthors" class="col-sm-2 control-label">Authors list</label>
				<connected-list source="vm.course.authors" destination="vm.authorsSource" id="inputAuthors" name="authors" class="col-sm-10"></connected-list>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success">Save</button>
					<a ui-sref="shell.courses.list()" class="btn btn-default">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>