﻿<!doctype html>
<html class="no-js" ng-app="app">
<head>
	<meta charset="utf-8">
	<title page-title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=no,initial-scale=1" />
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css({.tmp/serve,src}) styles/vendor.css -->
	<link rel="stylesheet" href="app/vendor.css">
	<!-- bower:css -->
	<!-- run `gulp wiredep` to automaticaly populate bower styles dependencies -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css({.tmp/serve,src}) styles/app.css -->
	<!-- inject:css -->
	<!-- css files will be automaticaly insert here -->
	<!-- endinject -->
	<!-- endbuild -->
</head>
<body ng-controller="mainCtrl as vm">
	<!--[if lt IE 9]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div class="container">
		<div class="page-header clearfix">
			<div class="page-header-right auth-panel" ng-if="vm.authorizedUser">
				<span class="auth-panel-login">{{ vm.authorizedUser.login }}</span>
				<button class="btn btn-sm btn-danger btn-block" ng-click="vm.logout()">Sign out</button>
			</div>
			<a class="logo" href="#">
				<img alt="Brand" src="/images/logo.png" class="img-responsive">
			</a>
			<h1 class="logo-title">Logo</h1>
		</div>
		<breadcrumbs></breadcrumbs>

		<div class="page-content">
			<div ui-view></div>
		</div>
		<!--
		<div class="page-footer">
			<div ng-include="'app/common/partials/footer/footer.html'"></div>
		</div>-->
		<footer class="footer">
			<div class="container">
			<p class="text-muted">Copyright &copy; 2016</p>
			</div>
		</footer>
	</div>

	<!-- build:js(src) scripts/vendor.js -->
	<!-- bower:js -->
	<!-- run `gulp wiredep` to automaticaly populate bower script dependencies -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
	<!-- inject:js -->
	<!-- js files will be automaticaly insert here -->
	<!-- endinject -->
	<!-- inject:partials -->
	<!-- angular templates will be automatically converted in js and inserted here -->
	<!-- endinject -->
	<!-- endbuild -->

</body>
</html>
