.aside {
    width: $aside-width;
    position: fixed;
    height: 100%;
	left: 0;
    overflow: hidden;
    margin-top: 40px;
    z-index: 9999;
    @include transition(left 300ms ease);
    
    @include respond-to(md) { 
        @include animation(aside-reveal 300ms ease);
    	margin-top: 86px;
    }
    &-navigation {
        ul {
            @extend .unstyled-list;
    		background: $aside-ul-bg;
            position: absolute;
			height: 100%;
		    width: 110%;
		    overflow-y: scroll;
		    /* Fix a bottom space to show buttons below, padding-bottom doesn't work in IE */
			&:after {	
				content: "";
				display: block;
				height: 100px;
			}
            li:not(:last-child) {
                border-bottom: 1px solid $aside-link-border;
            }
            .fa {
                font-size: 16px;
            }
            a {
                display: block;
                color: $aside-link;
                padding: 16px 14px 10px;
                text-transform: uppercase;

                &:hover,
                &.active {
                    background: $aside-link-border;
                    color: #fff;
                }
                &.signed_in {
                    text-transform: capitalize;
                    position: relative;
                    padding-left: 30px;
                    small {
                        text-transform: uppercase;
                        font-size: 10px;
                        &:after {
                            content: "\a";
                            white-space: pre-line;
                        }
                    }
                    &:before {
                        @extend .fa;
                        content: "\f007";
                        left: 14px;
                        position: absolute;
                    }
                }
            }
        }

    }

}



