.header {
	display: block;
	z-index: 9999;
	width: 100%;
	height: 40px;
	background: #fff;
	position: fixed;
	&-elements {
		position: absolute;

		padding: 8px 14px;
		i {
			font-size: 24px;
		}
	}
	@include respond-to(md){
		animation: aside-reveal 300ms ease;
		width: $aside-width;
		height: 86px;
	}
}

.logo {
	width: 100%;
	float:left;
	display:block;
	height: inherit;
	img {
		display:block;
		margin: 0 auto;
		height: inherit;
	}

	@include respond-to(md){
		width: $aside-width;
		height: 86px;
    	line-height: 86px;
		display: inline-block;
		vertical-align: middle;
		img {
			display: inline-block;
			height: auto;
			vertical-align: middle;
		}
	}
}