//------------------------------------//
//  Basic resets
//------------------------------------//

* {
	@include vendor(box-sizing,border-box);
}

input,
button {
	outline: none;
}

html, body {
	height: 100%;
	margin: 0;
    overflow-x: hidden;
}

body {
	font: 400 $fontsize-base $font-main;
	background: $body-bg;
}

a {
	text-decoration: none;
}

a,
button,
.pointer {
	cursor: pointer;
}
p {
	margin: 4px 0 0;
}

//------------------------------------//
//  Layout
//------------------------------------//
.wrapper {
	min-height: 100%;	
}

.container {
	margin-left: $aside-width;

	padding: 20px $container-padding 0 $container-padding;
	@include respond-to(sm, true) {
		margin-left: 0;
	}

}
.main {
	margin: 0 auto;
	@include respond-to(sm, true) {
		width: map-get($containers,sm);
		padding-top: 60px;
	}
	@include respond-to(md, true) {
		width: map-get($containers,md);
	}
	@include respond-to(lg, true) {
		width: map-get($containers,lg);
	}
}

.project {
	&-title {
		font-size: $fontsize-xlg;
		color: $color-dark;
	}
	&-header {
		margin: 10px 0 0;
		.btn {
			margin-left: 5px;
		}
	}
	&-desc {
		display: none;
		.dl-horizontal {
			dt, dd {
				border-top: 1px solid lighten($border-color,5);
				padding: 5px 0;
			}
			dt {
				float: left;
				width: 50%;
				overflow: hidden;
				clear: left;
				text-align: left;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-weight: 700;
			}
			dd {
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: right;
				margin-left: 50%;
				color: $color-muted;
				& > span {
					display: block;
				}
			}
		}
	}
}


//------------------------------------//
//  Switchers
//------------------------------------//
label.toggle-aside {
	color: $text-danger;
}

// Hide sibling side bar for small devices
@include respond-to(sm, true) {
    input.toggle-aside {
        &:checked {
            & + .aside {
                left: -$aside-width;
            }
        }
    }           
}

label.toogle-project-desc {
	font-size: $fontsize-lg;
	color: $color-muted;
	@extend .fa;
	&:after {
		content: "\f055";
	}
}

input.toogle-project-desc {
	&:checked ~ .toogle-project-desc {
		&:after {
			content: "\f056";
		}
	}
	&:checked ~ .project-desc {
		display: block;
	}
}