<form name="taskForm" class="editor" ng-submit="vm.save()">
	<div class="editor-header">
		<button class="btn" type="submit" ng-disabled="!vm.activeTask.title">Save changes</button>
		<button class="btn" type="button" ng-click="vm.onClose()">Cancel</button>
	</div>
	<div class="editor-form">
		<input type="text" name="title" class="form-control form-control-wide" ng-model="vm.activeTask.title">
		<label class="pointer form-control">
			<i class="fa fa-lg todo-done" ng-class="{'fa-check-square-o': vm.activeTask.done, 'fa-square-o': !vm.activeTask.done}"></i>
			Done
			<input type="checkbox" name="done" ng-model="vm.activeTask.done" class="hidden">
		</label>
		<textarea class="form-control" name="description" cols="30" rows="10" ng-model="vm.activeTask.description"></textarea>
	</div>
</form>
