<div>
	<div class="col-xs-5">
		<div class="form-group" ng-class="{'has-success': vm.lists.filter.current.length}">
			<input type="text" class="form-control input-sm" ng-model="vm.lists.filter.current" placeholder="Filter">
		</div>
		<div class="form-group">
			<select multiple class="form-control" id="{{vm.id}}" ng-options="item as item.name for item in vm.sourceList | filter : vm.lists.filter.current track by item.id" ng-model="vm.lists.selected.current" name="{{vm.name}}"></select>
		</div>
	</div>
	<div class="col-xs-2 btn-group-vertical">
		<button class="btn btn-default btn-sm" type="button" ng-click="vm.moveItem(vm.lists.selected.current, vm.destinationList, vm.sourceList)" ng-disabled="!vm.lists.selected.current.length">
			<i class="glyphicon glyphicon-chevron-right"></i>
		</button>
		<button class="btn btn-default btn-sm" type="button" ng-click="vm.moveItem(vm.lists.selected.destination, vm.sourceList, vm.destinationList)" ng-disabled="!vm.lists.selected.destination.length">
			<i class="glyphicon glyphicon-chevron-left"></i>
		</button>
	</div>
	<div class="col-xs-5">
		<div class="form-group" ng-class="{'has-success': vm.lists.filter.destination.length}">
			<input type="text" class="form-control input-sm" ng-model="vm.lists.filter.destination" placeholder="Filter">
		</div>
		<div class="form-group">
			<select multiple class="form-control" ng-options="item as item.name for item in vm.destinationList | filter : vm.lists.filter.destination track by item.id" ng-model="vm.lists.selected.destination"></select>
		</div>
	</div>
</div>