﻿<!doctype html>
<html>
<head>
	<title>jQuery task</title>
	<meta charset="utf-8" />
	<!-- custom css -->
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<button class="btn btn-default pull-right" id="addProduct">Add New</button>
				<form id='search' class="form-inline">
					<input type="text" class="form-control" id='searchTerm' placeholder="Search by name substring">
					<button type="submit" class="btn btn-default">Search</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-bordered table-striped table-hover" id='productList'>
					<thead>
						<tr class="text-center">
							<td>Name <a href="#" class="pull-right sort" data-sort='name' data-sort-direction='asc'></a></td>
							<td>Price <a href="#" class="pull-right sort" data-sort='price' data-sort-direction='asc'></a></td>
							<td>Actions</td>
						</tr>
					</thead>
					<tbody>

					</tbody>
					<tfoot>

					</tfoot>
				</table>
			</div>
		</div>
	</div>


	<div id="modal-boxes">
		<div id="popup" class="popup"></div>

		<div id="productDelete" class="popup">
			<div class="popup-header">
				<span>Are you sure?</span>
				<a href="#" class="close" data-modal='close'></a>
			</div>
			<div class="popup-body">
				<span class="text-center">Are you sure want to delete this item?</span>
				<div class="btn-group btn-group-sm btn-group-justified popup-btn-group">
					<a href="#" class="btn btn-success" data-modal='confirm'>Yes</a>
					<a href="#" class="btn btn-danger" data-modal='close'>No</a>
				</div>
			</div>
		</div>

		<div class="overlay"></div>
	</div>

	<script type="text/template" id="table-message-template">
		<tr><td colspan='3'><%-message%></td></tr>
	</script> <!--End template-->
	<script type="text/template" id="list-template">
		<% _.each(list, function(product) { %>
			<%= tableItemTemplate(product) %>
		<% }) %>
	</script> <!--End template-->
	<script type="text/template" id="list-item-template">
		<tr data-product-id="<%-id%>">
			<td><a href="#" data-action="show"><%-name%></a> <span class="pull-right badge"><%-count%></span></td>
			<td class="text-center table-col-sm"><%-price.formatMoney('USD')%></td>
			<td class="table-col-sm">
				<div class="btn-group-separated btn-group-justified">
					<div class="btn-group">
						<button class="btn btn-default" data-action='edit'>Edit</button>
					</div>
					<div class="btn-group">
						<button class="btn btn-default" data-action='delete'>Delete</button>
					</div>
				</div>
			</td>
		</tr>
	</script> <!--End template-->
	<script type="text/template" id="show-modal">
		<div class="popup-header">
			<span>Product: <%-product.name%></span>
			<a href="#" class="close" data-modal='close'></a>
		</div>

		<div class="popup-body">
			<div class="form-group">
				<label for="inputName">Name:</label>
				<span class="form-control-static"><%-product.name%></span>
			</div>
			<div class="form-group">
				<label for="inputEmail">Supplier email:</label>
				<span class="form-control-static"><%-product.email%></span>
			</div>
			<div class="form-group">
				<label for="inputCount">Count:</label>
				<span class="form-control-static"><%-product.count%></span>
			</div>
			<div class="form-group">
				<label for="inputPrice">Price:</label>
				<span class="form-control-static"><%-product.price.formatMoney('USD')%></span>
			</div>
			<div class="form-group">
				<label>Delivery:</label>
				<% if(!product.delivery){ %> <span>No delivery information.</span> <%} %>
				<div class="form-group <% if(product.delivery!='Country'){%>hidden<%}%>">
					<span class="form-control-static"><%-product.delivery%></span>
					<span class="form-control-static bold"><%-product.country%></span>
				</div>
				<div class="form-group <% if(product.delivery!='City'){%>hidden<%}%>">
					<span class="form-control-static"><%-product.delivery%></span>
					<span class="form-control-static"><span class="bold"><%-product.country%>:</span> <%-product.city%></span>
				</div>
			<div>

			<div class="btn-group btn-group-justified popup-btn-group">
				<a href="#" class="btn btn-default" data-modal='close'>Close</a>
			</div>
		</div>
	</script> <!--End template-->
	<script type="text/template" id="edit-modal">
		<div class="popup-header">
			<span><%-layout.header%></span>
			<a href="#" class="close" data-modal='close'></a>
		</div>

		<div class="popup-body">
			<form name="add-product">
				<div class="form-group">
					<label for="inputName">Name:</label>
					<input type="text" class="form-control" name="name" id="inputName" placeholder="Product name" value='<%-product.name%>'>
					<span class="help-block"></span>
				</div>
				<div class="form-group">
					<label for="inputEmail">Supplier email:</label>
					<input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email" value='<%-product.email%>'>
					<span class="help-block"></span>
				</div>
				<div class="form-group">
					<label for="inputCount">Count:</label>
					<input type="text" data-pattern='^\d+$' class="form-control" name="count" id="inputCount" placeholder="Count" value='<%-product.count%>'>
					<span class="help-block"></span>
				</div>
				<div class="form-group">
					<label for="inputPrice">Price:</label>
					<input type="text" data-pattern='^\d+(\.)?\d*$' class="form-control" name="price" id="inputPrice" placeholder="Price" data-currency='USD' value='<%-product.price%>'>
					<span class="help-block"></span>
				</div>
				<!-- Combo -->
				<div class="form-group">
					<label for="deliveryType">Delivery:</label>
					<div class="row">

						<div class="col-sm-4 form-group">
							<select class="form-control" name="delivery">
								<option value=''></option>
								<option value="Country" <% if(product.delivery=='Country'){%>selected<%} %> >Country</option>
								<option value="City" <% if(product.delivery=='City'){%>selected<%} %> >City</option>
							</select>
							<span class="help-block"></span>
						</div>

						<div class="col-sm-4 form-group form-group-bordered <% if(product.delivery!='Country' && product.delivery!='City'){%>hidden<%}%>">
							<% for(var location in locationInfo) { %>
								<label class="control-wide">
									<input type="radio" name="country" value="<%-location%>" <% if(product.country == location){%>checked<%} %> >
									<%-location%>
								</label>
							<% } %>
							<span class="help-block"></span>
						</div>
						<% for(var location in locationInfo) { %>
							<div class="col-sm-4 form-group form-group-bordered <% if(product.country !== location || product.delivery!='City') { %>hidden<% } %>">
								<fieldset <% if(product.country !== location) {%>disabled<% } %> data-country="<%-location%>">
									<label class="checkbox-select">
										<input type="checkbox" id="selectAll">
										Select all
									</label>
									<% for (var i=0; i < locationInfo[location].length; i++) { %>
										<label>
											<input type="checkbox" name="city" value="<%-locationInfo[location][i]%>" <% if(product.city && product.city.indexOf(locationInfo[location][i]) != -1){%>checked<%} %> >
											<%-locationInfo[location][i]%>
										</label>
									<% } %>
								</fieldset>
							</div>
						<% } %>

					</div>
				</div>

				<div class="btn-group btn-group-justified popup-btn-group">
					<div class="btn-group">
						<button type="submit" class="btn btn-success"><%-layout.button%></button>
					</div>
					<a href="#" class="btn btn-danger" data-modal='close'>Cancel</a>
				</div>
			</form>
		</div>
	</script> <!--End template-->
	<!-- js -->
	<script src='js/vendor/jquery-3.1.1.min.js'></script>
	<script src='js/vendor/lodash.min.js'></script>
	<script src='js/validator.js'></script>
	<script src='js/page.js'></script>
</body>
</html>
