<div class="modal-header">
	<button type="button" class="close" ng-click="vm.close();">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{vm.modalOptions.header}}</h4>
</div>
<div class="modal-body">
	<input type="text" placeholder="{{vm.modalOptions.inputPlaceholder}}" class="form-control form-control-wide" ng-model="vm.modalOptions.inputValue">
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary align-right" ng-click="vm.confirm();" ng-disabled="!vm.modalOptions.inputValue">
		{{vm.modalOptions.buttons.save || 'Save changes'}}
	</button>
	<button type="button" class="btn btn-default" ng-click="vm.close();">
		{{vm.modalOptions.buttons.save || 'Cancel'}}
	</button>
</div>

