//------------------------------------//
//  Typography
//------------------------------------//

@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');

body {
	font: $fontsize-base $font-main;
	color: $text-primary;
}

.bold {
	font-weight: 600;
}


.uppercase {
	text-transform: uppercase;
}

a {
	color: $link-primary;
	text-decoration: none;
	text-shadow: 0 1px 0 #f0f0f0;
	@extend .bold;
	&:hover {
		color: $link-hover;
	}
}

a, button {
	cursor: pointer;
}