﻿@model Dictionary<string, string>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            @foreach (var item in Model)
            {
                <li><a href="@item.Key">@item.Value</a></li>
            }
        </ol>
    </div>
</div>