<div class="row">
    <div class="col-xs-8 col-xs-push-3">
        <form accessible-form class="form form-horizontal" name="loginForm" ng-submit="vm.login(loginForm.$valid)" novalidate>
            <div class="alert alert-danger" ng-show="loginForm.$submitted && vm.loginError" role="alert">Wrong login or password</div>
            <div class="form-group" ng-class="{'has-error': !loginForm.login.$valid && loginForm.login.$touched}">
                <div class="row">
                    <label for="inputName" class="col-sm-2 control-label">Login</label>
                    <div class="col-sm-6">
                        <input type="text"
                            class="form-control"
                            id="inputName"
                            placeholder="Your login"
                            name="login"
                            ng-model="vm.credentials.login"
                            ng-pattern="vm.regex.login"
                            required>
                    </div>
                    <div class="help-block col-sm-4" ng-messages="loginForm.login.$error" role="alert" ng-if="loginForm.login.$touched">
                        <span ng-message="required" class="required">Required</span>
                        <span ng-message="pattern" class="required">Must contain only latin letters</span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': !loginForm.password.$valid && loginForm.password.$touched}">
                <div class="row">
                    <label for="inputPass" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-6">
                        <input type="password"
                            class="form-control"
                            id="inputPass"
                            placeholder="Password"
                            name="password"
                            ng-model="vm.credentials.password"
                            ng-pattern="vm.regex.password"
                            required>
                    </div>
                    <div class="help-block col-sm-4" ng-messages="loginForm.password.$error" role="alert" ng-if="loginForm.password.$touched">
                        <span ng-message="required" class="required">Required</span>
                        <span ng-message="pattern" class="required">Only latin or numeric characters</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-disabled="!loginForm.$valid">Sign in</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>