<div class="todos">
	<div class="todos-left">
		<div class="form-group">
			<input type="text" ng-keyup="$event.keyCode == 13 && vm.model.categoryTitle.length && vm.addCategory(vm.model.categoryTitle)" ng-model="vm.model.categoryTitle" class="form-control" placeholder="Enter category title">
			<button ng-click="vm.addCategory(vm.model.categoryTitle)" ng-disabled="!vm.model.categoryTitle" class="btn">Add</button>
		</div>
		<div class="category">
			<span ng-show="!vm.categories.length" class="alert alert-info">No categories found.</span>
			<category-list categories="vm.categories" active="{{vm.activeCategory}}" editor="vm.editor"></category-list>
		</div>
	</div>
	<div ui-view class="todos-right">
		<div class="alert alert-info">Select a category</div>
	</div>
</div>