﻿@model UsersAwardsApp.PLAttributes.Models.AwardViewModel

@{
    Layout = "~/Views/Shared/_AwardsLayout.cshtml";
    ViewBag.Title = "Award - " + Model.Title;
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-success">
            <div class="panel-body clearfix">
                <div class="row">

                    <div class="col-md-2">
                        <img src="@Url.Action("GetAwardImage",  new { id = Model.Id, placeHolder = "~/Content/img/no-image.jpg" })" alt="" class="award-big-img" />
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="control-label col-md-3 text-right">
                                <b>@Html.DisplayNameFor(x => x.Title):</b>
                            </div>
                            <div class="col-md-9 text-left">
                                @Html.DisplayFor(x => x.Title)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-md-3 text-right">
                                <b>@Html.DisplayNameFor(x => x.Description):</b>
                            </div>
                            <div class="col-md-9 text-left">
                                @Html.DisplayFor(x => x.Description)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3 text-left">
                                <b><a href="@Url.Action("UsersByAward", "Users",new { id = Model.Id })">@Html.DisplayFor(x => x.UsersCount)</a></b> users have this award.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group clearfix">
                <div class="btn-group pull-right">
                    @Html.ActionLink("Edit", "Edit", new { awardId = Model.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { awardId = Model.Id }, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>
