﻿@model IEnumerable<UsersAwardsApp.PLAttributes.Models.AwardViewModel>

@{
    Layout = "~/Views/Shared/_AwardsLayout.cshtml";
    ViewBag.Title = "Choose award for user " + ViewBag.UserName;
}

<div class="row">
    <div class="col-md-12 no-padding">

        @if (Model.Count() > 0)
        {
                <div class="text-danger">
                    @Html.ValidationSummary()
                </div>

                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <div class="panel panel-default">

                                <div class="choose-award">

                                    <img src="@Url.Action("GetAwardImage", new { id = item.Id, placeHolder = "~/Content/img/no-image.jpg" })" class="choose-award-image thumbnail" />
                                    <div class="choose-award-info-block">
                                        <span class="choose-award-title">
                                            <a href="@Url.Action("AwardInfo", "Awards", new { id = item.Id })">@item.Title</a>
                                        </span>
                                        <span class="choose-award-desc">
                                            @Html.DisplayTextFor(x=> item.Description)
                                        </span>
                                    </div>

                                </div>

                                <div class="panel-footer clearfix">
                                    <div class="btn-group pull-right">
                                        @Html.ActionLink("Give this award", "ApplyAward", "Awards", new { userId = ViewBag.UserId, awardId = item.Id }, new { @class = "btn btn-xs btn-success" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

        }
        else
        {
            <div class="alert alert-danger" role="alert">No available awards for this user</div>
        }
    </div>
</div>

