﻿@model IEnumerable<UsersAwardsApp.PLAttributes.Models.AwardViewModel>

@{
    Layout = "~/Views/Shared/_AwardsLayout.cshtml";
    ViewBag.Title = "Awards";
}

@section Heading{
    <div class="row">
        <div class="header-buttons btn-group pull-right">
            <a href="@Url.Action("CreateAward","Awards",null)" class="btn btn-sm btn-success">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
}

@section Search{
    <div class="row clearfix">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Awards", FormMethod.Get, new { id = "SearchForm" }))
                {
                    <div class="input-group">
                        @Html.TextBox("term", null, new { id = "SearchField", placeholder = "Search ...", @class = "form-control input-sm" })
                        <span class="input-group-btn">
                            <button type="reset" class="btn btn-default btn-sm" id="ClearSearch">
                                <span class="fa fa-close" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-default btn-sm" type="submit">
                                <span class="fa fa-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div><!-- /input-group -->
                }
            </div>
        </div>
    </div><!-- /.row -->    
}

<div class="row">

    <div class="panel panel-default">
        <div class="panel-heading">Awards list</div>
        
        @if (Model.Count() > 0)
        {
            <!-- Table -->
            <table class="table table-striped table-bordered table-hover">

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="award-table-img">
                            <a href="@Url.Action("AwardInfo",new { id = item.Id })" class="thumbnail">
                                <img src="@Url.Action("GetAwardImage",  new { id = item.Id, placeHolder = "~/Content/img/no-image.jpg" })" alt="" class="" />
                            </a>
                        </td>
                        <td class="award-table-desc">
                            <span class="award-table-title">
                                
                            </span>
                            <blockquote>
                                <span>
                                    <a href="@Url.Action("AwardInfo",new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
                                    <span class="pull-right small">
                                        @Html.ActionLink("Edit", "Edit", new { awardId = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { awardId = item.Id })
                                    </span>
                                </span>
                                <footer>@Html.DisplayFor(modelItem => item.Description)</footer>
                                <small><strong><a href="@Url.Action("UsersByAward", "Users",new { id = item.Id })">@item.UsersCount</a> users have this award.</strong></small>
                            </blockquote>
                            
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <div class="panel-body" role="alert">
                No awards were found. @Html.ActionLink("Create new one.", "CreateAward", "Awards", null, new { @class = "alert-link" })
            </div>
        }

    </div>

</div>